.header {
    position: relative;
    z-index: 100;

    &__scroll-container {
        text-align: center;
        color: white ;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 75%;
        z-index: 1000;
        transition: all 0.5s ease-in-out;
    }
    &__scroll {
        background-color: rgba(8, 8, 8, 0.75);
        padding:  0.7rem ;
        font-size: 1.3rem;
        border-radius: 2rem;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        color: $primary;
        font-family: 'Cormorant Unicase', serif;
        font-size: $s-sz;
        width: 100vw;
        z-index: 2;
        cursor: url('../../assets/video/cursorAnimate.gif'), auto;

        @include tablet {
            font-size: $xxl-sz;
        }

    }


    &__container-information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $xl-pd;
        @include tablet{

            align-items: center;
            padding: 0 5rem;
            
        }
        
    }

    &__container-subtitle {
        display: grid;
        font-size: $m-sz;
        @include tablet{
            font-size: $xl-sz;
         
        }
        
     
    }

    &__container-social-links {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: $xl-pd;
        font-size:$s-sz;
        @include tablet{
            font-size: $xxl-sz;
        }
        
    }

    &__social-link {
        color: $primary;
    }

    &__subtitle {
        width: 20rem;
        font-family: 'Cormorant Upright', serif;
    }

    &__social-img {
        
        width: 2rem;
        margin: 1rem;
        margin-bottom: 0;
        @include tablet{
            width: 2.7rem;
        }
    }

    &__wave {
        position: absolute;
        top: 2%;
        width: 100%;
    }

    &__button-audio {
        width: 3rem;
        height: 3rem;
        right: 2%;
        z-index: 100;
        padding: 0.5rem;
        border-radius: 50%;

    }


    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
        overflow: hidden;



        @include tablet{
               z-index: -1;
        background-color: black;
          
        }
     
   
        }

    &__bar-top{
            top: 0;
            @include bar-black;
            overflow: hidden;
            transition: height 1.5s ease-in-out;
            &.visible {
                height: 0vh;
                transition: height 1.5s ease-in-out;
              }
  
              }
    
        &__bar-bottom{
            bottom: 0;
            @include bar-black;
            overflow: hidden;
            transition: height 1.5s ease-in-out;

            &.visible {
                height: 0vh; 
                transition: height 1.5s ease-in-out;
              }
      
        }

    &__title {
        
        text-align: center;
        padding: 0 $xxxl-pd;
        font-weight: $regular;
        font-size: $xl-sz;
        margin: 0;
        padding-top: $xl-pd ;
        z-index: 2;
        @include tablet{
            font-size: $xxl-sz;
        }
        
    }

    &__arrow {
        width: 2.5rem;
        rotate: 90deg;
        @include tablet{
            width: 3rem;
            rotate: 0deg;

        }
    }

    &__button-audio {
        position: absolute;
    }

        
}