.additional {
    position: relative;
    z-index: 10;
    height: 50vh;


    @include tablet{
    width: 30vw;
    height: 100vh;
    }


    &__video-container {
        width: 100%;
    }

    &__video {
        position: absolute;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        width: 100vw;
        top: 0;

        
        @include tablet{
         
        width: 30vw;
        }
            
    }

    &__container-text {
        z-index: 11;
        color: $primary;
        font-family: 'Cormorant Unicase', sans-serif;
        font-size: $xs-sz;
    }

    &__h2 {
        text-align: center;
        margin: 0;
        padding-top: $xxl-pd;
    }
}

