.project{
    background: linear-gradient(#F7F3E3 0%, #F9E0B6 100%);
    height: 50vh;
    @include tablet{
        background: linear-gradient(90deg, #F7F3E3 0%, #F9E0B6 100%);
        height: 100vh;
    }


    &__container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__sellotape {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17.5rem;
        height: 5.5rem;
        background: #000000D9;
        color: white;
        transform: rotate(-39.964deg);
        text-align: center;
        fill: rgba(0, 0, 0, 0.85);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-family: 'Cormorant Upright', serif;
        

    }

    &__empty {
        color: transparent;
    }

    &__container-img {
        display: grid;
    justify-content: center;
    z-index: 2;
    
    }

    &__position-sellotape {
        width: 125%;
        display: flex;
        justify-content: flex-end;
        margin: -4rem ;

        @include big-desktop{
            width: 118%;
        }   
    }

    &__img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include tablet{
            width: 30rem;
            height: 20rem;
        }
        @include desktop{
            width: 45rem;
            height: 25rem;
        }
        @include big-desktop{
            width: 60rem;
            height: 35rem;
        }
            
    }

    &__h2 {
        color: #9A7752;
        font-family: Cormorant Unicase;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 8rem;

        &::before {
            content: " ";
            display: inline-block;
            width: 0.6rem;
            height: 1rem;
            background: #9A7752;
            margin-right: $m-mg;
            @include tablet{
            }
        }

    }

    &__container-svg {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;
        width: 100vw;
        justify-items: center;

    }


}

