.project{
    background: linear-gradient(#F7F3E3 0%, #F9E0B6 100%);
    height: 50vh;
    position: relative;
    z-index: 100;
    @include tablet{
        background: linear-gradient(90deg, #F7F3E3 0%, #F9E0B6 100%);
        height: 100vh;
    }

    &__container-popup {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $secondary;
                transition: opacity 0.5s ease;
        opacity: 1;
        font-family: 'Cormorant Unicase', sans-serif;
        color: $primary; 
        @include tablet{
            height: 100vh;
        }
    }



    &__container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__container-background {
        position: absolute;
        width: 100vw;
        height: 65vh;

        @include tablet{
            height: 115vh;
        }
        @include desktop{
            height: 120vh;
        }

        @include mid-desktop{
            height: 130vh;
        }
    }

    &__sellotape {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.5rem;
        height: 3rem;
        font-size: 0.4rem;
        background: #000000D9;
        color: white;
        transform: rotate(-39.964deg);
        text-align: center;
        font-family: 'Cormorant Upright', serif;
        text-align: center;
        fill: rgba(0, 0, 0, 0.85);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @include tablet{
            width: 17.5rem;
            height: 5.5rem;
            font-size: 1rem;

        
        }
    }

    &__p {
        padding: 0 1rem;
    }
    &__empty {
        color: transparent;
    }

    &__container-img {
        display: grid;
    justify-content: center;
    z-index: 2;
    
    
    }

    &__position-element {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap : 1rem;
        width: 100%;

        @include tablet{
        margin: 0 5rem;
        }
        

    }
    
    &__background-img {
        width: 20rem;
    }

    &__img-popup {
        width: 12rem;

        @include tablet{
            width: 20rem;
        }

        @include desktop{
            width: 35%;
        }

        @include mid-desktop{
            width: 35rem;
        }

        @include big-desktop {
            width: 45rem;
        }

    }

    &__description {
        font-size: 0.8rem;
        max-width: 40%;
        font-weight: 600;
        font-style: italic;
        max-height: 8rem;
        overflow: auto;

        @include tablet{
            max-height: 15rem;
            font-size: 0.8rem;
            max-width: 25rem;
            line-height: 1.5rem;
        }

        @include desktop{
            font-size: 1.2rem;
            max-width: 30rem;
        }

        @include mid-desktop {
            font-size: 1.6rem;
            max-width: 35rem;
        }
    }

    &__button-close {
        position: absolute;
        top: 2%;
        right: 2%;
        width: 5rem;
        height: 5rem;
        z-index: 100;
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
        transform: rotate(0deg);
    

        &:hover {
            transform: rotate(180deg);
        }

        @include tablet{
            font-size: 3rem;
            

        }
    }



    &__position-sellotape {
        width: 125%;
        display: flex;
        justify-content: flex-end;
        margin: -2rem ;
        @include tablet{
        margin: -4rem ;
        }

        @include big-desktop{
            width: 118%;
        }   
    }

    &__img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 17rem;
        height: 11rem;
        cursor: pointer;

        &:hover {
            animation: shake 0.5s;
            animation-iteration-count: 1;        }

        @include tablet{
            width: 30rem;
            height: 20rem;
        }
        @include desktop{
            width: 45rem;
            height: 25rem;
        }
        @include big-desktop{
            width: 60rem;
            height: 35rem;
        }
            
    }

    &__h2 {
        color: #9A7752;
        font-family: Cormorant Unicase;
        font-size: 1.5rem;
        padding-left: 2rem;

        &::before {
            content: " ";
            display: inline-block;
            width: 0.4rem;
            height: 0.8rem;
            background: #9A7752;
            margin-right: $s-mg;

        }

        @include tablet{
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 8rem;

        &::before {
           
            width: 0.6rem;
            height: 1rem;
            
           
        }
        }
        

    }

    &__title {
        padding: 0;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0;

        &::before {
            content: none;
        }

        @include tablet{
            font-size: 2rem;
        }

        @include desktop{
            font-size: 3rem;
        }

        @include mid-desktop{
            font-size: 3.5rem;
        }
    }


    &__container-svg {
        position: absolute;
        height: 50vh;
        width: 100vw;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        @include tablet{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;
        width: 100vw;
        justify-items: center;
        }
        

    }

    &__sellotape-popup {
        transform: rotate(0deg);
    }

    &__link {
        padding: 0 1rem;
        color: white;
    }


}

