.projectTwo{
    background: linear-gradient( #F9AF4E 0%, #F9E0B7 100%);
    position: relative;
    z-index: 100;
    height: 50vh;
    @include tablet{
        background: linear-gradient(270deg, #F9AF4E 0%, #F9E0B7 100%);
        height: 100vh;
    }

    &__img-background {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;

        @include tablet{
         position: absolute;
        bottom: 0;
        width: 100vw;
        height: 94%;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        opacity: 0.6;
        }


    }

}