.skills {
    background-color: $tertiary;
    z-index: 1000;
    height: 100vh;
    position: relative;
    transition: none;
    font-family: 'Cormorant Unicase', sans-serif;

    &__container {
        display: flex;
        align-items: center;
        width: 100vw;
        position: absolute;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
        top: 2rem;
        height: 65%;

 

        @include tablet{

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: "Cormorant Unicase", sans-serif;
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        }
        
    }

    &__h2 {
        color: #F8F3E2;


        &::before {
            background: #F8F3E2;
        }
    }

    &__card {
        width: 8rem;
        height: 14rem;
        border-radius: 1rem;
        background: #F8F3E2;
        box-shadow: -5px 5px 10.7px 1px rgba(255, 255, 255, 0.60);
        text-align: center;
        transition: transform 0.5s ease-in-out;

        @include tablet {
            width: 10rem;
            height: 16rem;
        }

        @include desktop{
        width: 10rem;
        height: 16rem;
        }

        @include mid-desktop {
            width: 14rem;
            height: 22rem;
        }


        &:hover {
            transform: translateY(-10px) rotateX(-1deg) rotateY(2deg) ;

        }
    }

    &__card-1 {
        transform: rotate(-17deg) ;
    }

    &__card-2 {
        margin-left: 1rem;
        transform: rotate(7deg) ;

        @include tablet{
        margin: 0;
        }
    }

    &__card-3 {
        transform: rotate(11deg) ;
    }

    &__card-4 {
        transform: rotate(-4deg) ;
    }

    &__svg {
        height: 100%;
    }

    &__circle {
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        padding: $xs-pd;

        &::before {            
            display: block;
            width: 22px;
            height: 10px;
            margin: 10px 5px 0 10px;
          }
          
    }

    &__card-text{
        height: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-evenly;
    
    }

    &__card-h2 {
        text-align: center;
        margin: 0;
        font-size: $xs-sz;

        @include tablet{
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
        @include desktop{
        font-size: 1.5rem;
        }
        @include mid-desktop{
        font-size: 2rem;
        }
    }

    &__card-content {
        font-size: 0.8rem;
        padding: 0 $s-pd;
        @include tablet{
        padding:0 $m-pd;
        }
        @include mid-desktop{
            font-size: 1.1rem;
        }
    }

    &__card-content-end {
        padding: 0 $l-pd;
        @include tablet{
        padding: 0 $xl-pd;
        }
    }

    &__card-techno {
        text-transform: uppercase;
        font-size: 0.8rem;
        text-align: center;
        font-weight: 600;
        @include tablet{
        font-size: 1rem;
        }
        @include mid-desktop{
        font-size: 1.25rem;
        font-style: normal;
        line-height: normal;
        }
    }

    &__position-1 {
        height: 10%;

    }

    &__position-2 {
        height: 80%;
    }

    &__position-3 {
        height: 25%;
        @include tablet{
        height: 5%;
        }
    }

    &__position-4 {
        height: 50%;
    }


}