@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
}

.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
}

html {
  cursor: url("/src/assets/video/cursorAnimate.gif"), auto;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 768px) {
  main {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    /* pour ie et mozilla */
    -ms-overlow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .main__container {
    display: flex;
    flex-direction: row;
    width: 530vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
}

img {
  width: 20rem;
}
@media only screen and (min-width: 768px) {
  img {
    width: 45rem;
  }
}

svg {
  width: 100%;
  height: 14rem;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  svg {
    width: 100%;
    height: 100%;
  }
}

.header {
  position: relative;
  z-index: 100;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  color: #C19875;
  font-family: "Cormorant Unicase", serif;
  font-size: 1.3rem;
  width: 100vw;
  z-index: 2;
  cursor: url("../../assets/video/cursorAnimate.gif"), auto;
}
@media only screen and (min-width: 768px) {
  .header__container {
    font-size: 2.5rem;
  }
}
.header__container-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
@media only screen and (min-width: 768px) {
  .header__container-information {
    align-items: center;
    padding: 0 5rem;
  }
}
.header__container-subtitle {
  display: grid;
  font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .header__container-subtitle {
    font-size: 2rem;
  }
}
.header__container-social-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {
  .header__container-social-links {
    font-size: 2.5rem;
  }
}
.header__social-link {
  color: #C19875;
}
.header__subtitle {
  width: 20rem;
  font-family: "Cormorant Upright", serif;
}
.header__social-img {
  width: 2rem;
  margin: 1rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .header__social-img {
    width: 2.7rem;
  }
}
.header__wave {
  position: absolute;
  top: 2%;
  width: 100%;
}
.header__button-audio {
  width: 3rem;
  height: 3rem;
  right: 2%;
  z-index: 100;
  padding: 0.5rem;
  border-radius: 50%;
}
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .header__video {
    z-index: -1;
    background-color: black;
  }
}
.header__bar-top {
  top: 0;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 120px;
  background-color: black;
  z-index: 1;
  overflow: hidden;
  transition: height 1.5s ease-in-out;
}
.header__bar-top.visible {
  height: 0vh;
  transition: height 1.5s ease-in-out;
}
.header__bar-bottom {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 120px;
  background-color: black;
  z-index: 1;
  overflow: hidden;
  transition: height 1.5s ease-in-out;
}
.header__bar-bottom.visible {
  height: 0vh;
  transition: height 1.5s ease-in-out;
}
.header__title {
  text-align: center;
  padding: 0 3rem;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  padding-top: 2rem;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 2.5rem;
  }
}
.header__arrow {
  width: 2.5rem;
  rotate: 90deg;
}
@media only screen and (min-width: 768px) {
  .header__arrow {
    width: 3rem;
    rotate: 0deg;
  }
}
.header__button-audio {
  position: absolute;
}

.project {
  background: linear-gradient(#F7F3E3 0%, #F9E0B6 100%);
  height: 50vh;
  position: relative;
  z-index: 100;
}
@media only screen and (min-width: 768px) {
  .project {
    background: linear-gradient(90deg, #F7F3E3 0%, #F9E0B6 100%);
    height: 100vh;
  }
}
.project__container-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F3E3;
  transition: opacity 0.5s ease;
  opacity: 1;
  font-family: "Cormorant Unicase", sans-serif;
  color: #C19875;
}
@media only screen and (min-width: 768px) {
  .project__container-popup {
    height: 100vh;
  }
}
.project__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.project__container-background {
  position: absolute;
  width: 100vw;
  height: 65vh;
}
@media only screen and (min-width: 768px) {
  .project__container-background {
    height: 115vh;
  }
}
@media only screen and (min-width: 1024px) {
  .project__container-background {
    height: 120vh;
  }
}
@media only screen and (min-width: 1440px) {
  .project__container-background {
    height: 130vh;
  }
}
.project__sellotape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.5rem;
  height: 3rem;
  font-size: 0.4rem;
  background: rgba(0, 0, 0, 0.8509803922);
  color: white;
  transform: rotate(-39.964deg);
  text-align: center;
  font-family: "Cormorant Upright", serif;
  text-align: center;
  fill: rgba(0, 0, 0, 0.85);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width: 768px) {
  .project__sellotape {
    width: 17.5rem;
    height: 5.5rem;
    font-size: 1rem;
  }
}
.project__p {
  padding: 0 1rem;
  font-size: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .project__p {
    font-size: 1rem;
  }
}
.project__empty {
  color: transparent;
}
.project__container-img {
  display: grid;
  justify-content: center;
  z-index: 2;
}
.project__position-element {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .project__position-element {
    margin: 0 5rem;
  }
}
.project__background-img {
  width: 20rem;
}
.project__img-popup {
  width: 12rem;
}
@media only screen and (min-width: 768px) {
  .project__img-popup {
    width: 20rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__img-popup {
    width: 35%;
  }
}
@media only screen and (min-width: 1440px) {
  .project__img-popup {
    width: 35rem;
  }
}
@media only screen and (min-width: 1600px) {
  .project__img-popup {
    width: 45rem;
  }
}
.project__description {
  font-size: 0.8rem;
  max-width: 40%;
  font-weight: 600;
  font-style: italic;
  max-height: 8rem;
  overflow: auto;
}
@media only screen and (min-width: 768px) {
  .project__description {
    max-height: 15rem;
    font-size: 0.8rem;
    max-width: 25rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__description {
    font-size: 1.2rem;
    max-width: 30rem;
  }
}
@media only screen and (min-width: 1440px) {
  .project__description {
    font-size: 1.6rem;
    max-width: 35rem;
  }
}
.project__button-close {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 5rem;
  height: 5rem;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
}
.project__button-close:hover {
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .project__button-close {
    font-size: 3rem;
  }
}
.project__position-sellotape {
  width: 125%;
  display: flex;
  justify-content: flex-end;
  margin: -2rem;
}
@media only screen and (min-width: 768px) {
  .project__position-sellotape {
    margin: -4rem;
  }
}
@media only screen and (min-width: 1600px) {
  .project__position-sellotape {
    width: 118%;
  }
}
.project__img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 17rem;
  height: 11rem;
  cursor: pointer;
}
.project__img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}
@media only screen and (min-width: 768px) {
  .project__img {
    width: 30rem;
    height: 20rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__img {
    width: 45rem;
    height: 25rem;
  }
}
@media only screen and (min-width: 1600px) {
  .project__img {
    width: 60rem;
    height: 35rem;
  }
}
.project__h2 {
  color: #9A7752;
  font-family: Cormorant Unicase;
  font-size: 1.5rem;
  padding-left: 2rem;
}
.project__h2::before {
  content: " ";
  display: inline-block;
  width: 0.4rem;
  height: 0.8rem;
  background: #9A7752;
  margin-right: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .project__h2 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8rem;
  }
  .project__h2::before {
    width: 0.6rem;
    height: 1rem;
  }
}
.project__title {
  padding: 0;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
.project__title::before {
  content: none;
}
@media only screen and (min-width: 768px) {
  .project__title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1440px) {
  .project__title {
    font-size: 3.5rem;
  }
}
.project__container-svg {
  position: absolute;
  height: 50vh;
  width: 100vw;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media only screen and (min-width: 768px) {
  .project__container-svg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    justify-items: center;
  }
}
.project__sellotape-popup {
  transform: rotate(0deg);
}
.project__link {
  padding: 0 1rem;
  color: white;
}

.projectTwo {
  background: linear-gradient(0deg, #F9AF4E 0%, #F9E0B7 100%);
  position: relative;
  z-index: 100;
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  .projectTwo {
    background: linear-gradient(270deg, #F9AF4E 0%, #F9E0B7 100%);
    height: 100vh;
  }
}

.projectThree {
  background: linear-gradient(0deg, #D85531 0%, #F9AF4E 100%);
  height: 50vh;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .projectThree {
    background: linear-gradient(270deg, #D85531 0%, #F9AF4E 100%);
    height: 100vh;
  }
}
.projectThree__container-stars {
  position: absolute;
  width: 100vw;
  height: 50vh;
  z-index: 1;
}

#stars, #stars2, #stars3 {
  width: 1.5px;
  height: 1.5px;
  background: transparent;
  animation: animStar 20s linear infinite;
}
#stars:after, #stars2:after, #stars3:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 678px 186px #FFF , 172px 1003px #FFF , 422px 1291px #FFF , 624px 910px #FFF , 1097px 664px #FFF , 861px 352px #FFF , 734px 986px #FFF , 1018px 1395px #FFF , 590px 1074px #FFF , 705px 394px #FFF , 557px 156px #FFF , 1928px 891px #FFF , 299px 1887px #FFF , 1155px 562px #FFF , 1147px 296px #FFF , 1293px 313px #FFF , 662px 586px #FFF , 53px 1989px #FFF , 214px 378px #FFF , 1875px 547px #FFF , 1163px 560px #FFF , 1981px 469px #FFF , 1921px 404px #FFF , 1454px 1777px #FFF , 1975px 1178px #FFF , 642px 1325px #FFF , 839px 740px #FFF , 571px 168px #FFF , 1547px 146px #FFF , 1330px 1833px #FFF , 593px 1862px #FFF , 538px 1134px #FFF , 1308px 1312px #FFF , 1955px 915px #FFF , 1963px 1996px #FFF , 247px 1978px #FFF , 1563px 734px #FFF , 1582px 1675px #FFF , 1539px 711px #FFF , 241px 522px #FFF , 650px 1878px #FFF , 1240px 1702px #FFF , 1383px 452px #FFF , 202px 928px #FFF , 1832px 1636px #FFF , 1420px 24px #FFF , 1780px 554px #FFF , 148px 1314px #FFF , 1884px 1626px #FFF , 142px 1358px #FFF , 1008px 1219px #FFF , 922px 923px #FFF , 818px 251px #FFF , 445px 1338px #FFF , 1614px 1983px #FFF , 1171px 1465px #FFF , 1068px 1051px #FFF , 714px 1773px #FFF , 903px 1119px #FFF , 568px 544px #FFF , 161px 1603px #FFF , 1503px 127px #FFF , 847px 1642px #FFF , 24px 1654px #FFF , 436px 1719px #FFF , 1371px 1493px #FFF , 1313px 250px #FFF , 973px 1170px #FFF , 382px 1451px #FFF , 982px 327px #FFF , 79px 707px #FFF , 1941px 1959px #FFF , 1680px 1692px #FFF , 1725px 335px #FFF , 1554px 188px #FFF , 164px 306px #FFF , 1225px 423px #FFF , 959px 355px #FFF , 898px 562px #FFF , 1680px 1979px #FFF , 1359px 1559px #FFF , 1603px 146px #FFF , 1219px 703px #FFF , 1398px 1825px #FFF , 695px 663px #FFF , 379px 1151px #FFF , 658px 1673px #FFF , 279px 1751px #FFF , 1939px 1064px #FFF , 1473px 501px #FFF , 199px 1357px #FFF , 67px 1874px #FFF , 247px 620px #FFF , 1600px 662px #FFF , 112px 1566px #FFF , 499px 620px #FFF , 244px 171px #FFF , 371px 58px #FFF , 1082px 958px #FFF , 462px 1927px #FFF , 1164px 35px #FFF , 1369px 844px #FFF , 199px 291px #FFF , 578px 97px #FFF , 1552px 1991px #FFF , 1821px 688px #FFF , 1447px 776px #FFF , 1168px 1606px #FFF , 1183px 753px #FFF , 1380px 1405px #FFF , 1110px 1944px #FFF , 1315px 30px #FFF , 1412px 112px #FFF , 1270px 251px #FFF , 702px 9px #FFF , 923px 822px #FFF , 1761px 12px #FFF , 1427px 1691px #FFF , 575px 1186px #FFF , 34px 1714px #FFF , 412px 1749px #FFF , 1221px 761px #FFF , 338px 1344px #FFF , 106px 1229px #FFF , 145px 322px #FFF , 942px 979px #FFF , 1829px 1182px #FFF , 1113px 1746px #FFF , 888px 1112px #FFF , 258px 1514px #FFF , 1128px 42px #FFF , 1857px 242px #FFF , 1759px 1290px #FFF , 97px 821px #FFF , 1649px 1916px #FFF , 629px 467px #FFF , 956px 191px #FFF , 1167px 1000px #FFF , 1306px 1744px #FFF , 141px 1493px #FFF , 1358px 1232px #FFF , 1058px 763px #FFF , 626px 1898px #FFF , 823px 1199px #FFF , 1690px 1681px #FFF , 353px 1823px #FFF , 1732px 284px #FFF , 307px 841px #FFF , 167px 610px #FFF , 1679px 415px #FFF , 682px 755px #FFF , 1239px 773px #FFF , 1599px 1952px #FFF , 988px 1913px #FFF , 850px 1520px #FFF , 427px 961px #FFF , 432px 972px #FFF , 664px 64px #FFF , 1904px 1906px #FFF , 37px 449px #FFF , 910px 953px #FFF , 57px 109px #FFF , 1025px 1601px #FFF , 1989px 1821px #FFF , 1877px 1026px #FFF , 51px 574px #FFF , 982px 1459px #FFF , 51px 951px #FFF , 299px 1524px #FFF , 1626px 754px #FFF , 1606px 146px #FFF , 191px 1260px #FFF , 658px 1875px #FFF , 1911px 1793px #FFF , 908px 86px #FFF , 886px 1746px #FFF , 36px 1314px #FFF , 1979px 440px #FFF , 1661px 1601px #FFF , 1009px 1778px #FFF , 513px 1291px #FFF , 328px 827px #FFF , 1066px 1037px #FFF , 600px 683px #FFF , 386px 1014px #FFF , 938px 755px #FFF , 444px 1440px #FFF , 1365px 1675px #FFF , 1557px 1706px #FFF , 1100px 976px #FFF , 1774px 430px #FFF , 399px 1930px #FFF , 951px 962px #FFF , 99px 1833px #FFF , 298px 616px #FFF , 688px 1690px #FFF , 419px 900px #FFF , 1770px 380px #FFF , 602px 1826px #FFF , 946px 817px #FFF , 1488px 1243px #FFF , 1418px 1629px #FFF , 1529px 319px #FFF , 903px 1221px #FFF , 1457px 137px #FFF , 1985px 1638px #FFF , 701px 1774px #FFF , 406px 797px #FFF , 556px 1205px #FFF , 846px 1197px #FFF , 382px 966px #FFF , 1847px 1318px #FFF , 458px 915px #FFF , 1571px 1724px #FFF , 477px 1724px #FFF , 381px 1836px #FFF , 209px 1907px #FFF , 784px 433px #FFF , 1501px 1465px #FFF , 1904px 1779px #FFF , 1085px 1761px #FFF , 982px 1706px #FFF , 20px 100px #FFF , 1293px 1608px #FFF , 958px 886px #FFF , 1013px 1071px #FFF , 853px 1078px #FFF , 1511px 1169px #FFF , 753px 1121px #FFF , 664px 109px #FFF , 410px 1320px #FFF , 1863px 203px #FFF , 1015px 788px #FFF , 827px 1834px #FFF , 548px 977px #FFF , 234px 1333px #FFF , 1526px 1409px #FFF , 1221px 1411px #FFF , 164px 1885px #FFF , 56px 1530px #FFF , 1495px 590px #FFF , 1667px 397px #FFF , 1240px 1262px #FFF , 664px 841px #FFF , 246px 498px #FFF , 47px 565px #FFF , 1742px 1px #FFF , 1314px 1077px #FFF , 356px 1782px #FFF , 1420px 88px #FFF , 302px 538px #FFF , 863px 1639px #FFF , 1242px 1776px #FFF , 362px 1464px #FFF , 1760px 1674px #FFF , 652px 545px #FFF , 1460px 1123px #FFF , 1290px 1932px #FFF , 1059px 526px #FFF , 378px 997px #FFF , 116px 1339px #FFF , 1853px 1768px #FFF , 642px 90px #FFF , 153px 623px #FFF , 89px 510px #FFF , 314px 1859px #FFF , 1132px 1325px #FFF , 281px 1004px #FFF , 1376px 22px #FFF , 882px 229px #FFF , 68px 1300px #FFF , 1870px 1503px #FFF , 369px 1040px #FFF , 1817px 260px #FFF , 249px 1331px #FFF , 442px 1470px #FFF , 1023px 336px #FFF , 167px 1731px #FFF , 1478px 1881px #FFF , 557px 234px #FFF , 766px 754px #FFF , 1403px 1831px #FFF , 1093px 1185px #FFF , 1337px 650px #FFF , 1412px 1389px #FFF , 1342px 245px #FFF , 70px 610px #FFF , 1361px 662px #FFF , 1400px 1473px #FFF , 1634px 274px #FFF , 631px 236px #FFF , 850px 1901px #FFF , 1546px 356px #FFF , 5px 1847px #FFF , 1115px 1845px #FFF , 762px 16px #FFF , 1602px 1146px #FFF , 1659px 1674px #FFF , 1771px 1725px #FFF , 1996px 1523px #FFF , 1566px 1413px #FFF , 388px 675px #FFF , 1082px 1386px #FFF , 77px 356px #FFF , 494px 1306px #FFF , 826px 1106px #FFF , 1598px 942px #FFF , 1515px 486px #FFF , 1530px 1121px #FFF , 35px 799px #FFF , 470px 192px #FFF , 1414px 1264px #FFF , 1881px 1296px #FFF , 1104px 452px #FFF , 1423px 378px #FFF , 851px 978px #FFF , 1955px 831px #FFF , 453px 833px #FFF , 1793px 1456px #FFF , 1173px 789px #FFF , 847px 391px #FFF , 1318px 570px #FFF , 824px 561px #FFF , 759px 594px #FFF , 632px 542px #FFF , 1985px 49px #FFF , 1279px 57px #FFF , 1154px 876px #FFF , 755px 681px #FFF , 724px 1473px #FFF , 62px 460px #FFF , 1963px 1688px #FFF , 1324px 299px #FFF , 167px 1106px #FFF , 331px 529px #FFF , 805px 1277px #FFF , 1364px 212px #FFF , 1175px 174px #FFF , 974px 1313px #FFF , 1315px 1158px #FFF , 1945px 1282px #FFF , 1828px 1622px #FFF , 161px 161px #FFF , 1184px 1375px #FFF , 577px 1110px #FFF , 1163px 1656px #FFF , 709px 124px #FFF , 1161px 23px #FFF , 448px 597px #FFF , 1963px 723px #FFF , 783px 42px #FFF , 1822px 1341px #FFF , 1665px 1131px #FFF , 1319px 612px #FFF , 1416px 633px #FFF , 1793px 1328px #FFF , 1392px 257px #FFF , 1234px 1934px #FFF , 464px 1772px #FFF , 1108px 398px #FFF , 1226px 519px #FFF , 1433px 1483px #FFF , 1086px 926px #FFF , 1802px 1574px #FFF , 1008px 1182px #FFF , 557px 797px #FFF , 461px 1995px #FFF , 876px 1725px #FFF , 1093px 217px #FFF , 70px 151px #FFF , 1731px 194px #FFF , 325px 1723px #FFF , 1617px 1067px #FFF , 1279px 1274px #FFF , 901px 1596px #FFF , 476px 147px #FFF , 708px 1208px #FFF , 380px 157px #FFF , 402px 1835px #FFF , 1197px 359px #FFF , 302px 541px #FFF , 1813px 217px #FFF , 1751px 754px #FFF , 1451px 458px #FFF , 165px 1742px #FFF , 1389px 1957px #FFF , 514px 830px #FFF , 520px 494px #FFF , 137px 574px #FFF , 1991px 532px #FFF , 930px 1542px #FFF , 1443px 1797px #FFF , 1696px 860px #FFF , 971px 1263px #FFF , 14px 295px #FFF , 511px 399px #FFF , 1563px 1303px #FFF , 97px 729px #FFF , 98px 831px #FFF , 1698px 1931px #FFF , 720px 1770px #FFF , 23px 333px #FFF , 1138px 978px #FFF , 468px 732px #FFF , 627px 1762px #FFF , 1783px 84px #FFF , 1351px 56px #FFF , 546px 555px #FFF , 791px 320px #FFF , 1289px 1007px #FFF , 500px 1580px #FFF , 1725px 773px #FFF , 97px 635px #FFF , 1359px 735px #FFF , 1229px 1795px #FFF , 403px 982px #FFF , 456px 780px #FFF , 1274px 1578px #FFF , 996px 1395px #FFF , 1129px 1222px #FFF , 1575px 681px #FFF , 598px 693px #FFF , 86px 1041px #FFF , 506px 224px #FFF , 632px 1188px #FFF , 1586px 1797px #FFF , 922px 1564px #FFF , 1575px 1606px #FFF , 1978px 1721px #FFF , 1926px 98px #FFF , 1204px 1220px #FFF , 703px 601px #FFF , 866px 1587px #FFF , 613px 85px #FFF , 678px 1793px #FFF , 377px 515px #FFF , 151px 159px #FFF , 500px 980px #FFF , 872px 20px #FFF , 728px 1728px #FFF , 9px 1706px #FFF , 1093px 943px #FFF , 1985px 753px #FFF , 1678px 281px #FFF , 64px 439px #FFF , 760px 301px #FFF , 1706px 1973px #FFF , 1411px 22px #FFF , 1118px 834px #FFF , 1495px 1739px #FFF , 83px 1810px #FFF , 1754px 711px #FFF , 112px 1955px #FFF , 683px 1926px #FFF , 911px 401px #FFF , 1446px 297px #FFF , 12px 1258px #FFF , 838px 575px #FFF , 943px 782px #FFF , 237px 1935px #FFF , 1773px 1529px #FFF , 1532px 787px #FFF , 1723px 859px #FFF , 3px 266px #FFF , 1188px 1847px #FFF , 1140px 820px #FFF , 636px 1662px #FFF , 790px 1000px #FFF , 172px 1232px #FFF , 365px 1521px #FFF , 236px 342px #FFF , 205px 580px #FFF , 1588px 1441px #FFF , 1287px 454px #FFF , 799px 419px #FFF , 1855px 634px #FFF , 1246px 496px #FFF , 1265px 431px #FFF , 817px 1621px #FFF , 119px 1067px #FFF , 475px 1923px #FFF , 37px 1271px #FFF , 1px 1273px #FFF , 1146px 1115px #FFF , 316px 1663px #FFF , 76px 670px #FFF , 460px 781px #FFF , 388px 355px #FFF , 1405px 1442px #FFF , 203px 1096px #FFF , 856px 105px #FFF , 1810px 1796px #FFF , 511px 1779px #FFF , 1797px 1047px #FFF , 1578px 893px #FFF , 1872px 517px #FFF , 1624px 790px #FFF , 1015px 220px #FFF , 749px 166px #FFF , 511px 346px #FFF , 1874px 1562px #FFF , 700px 946px #FFF , 1442px 1477px #FFF , 190px 642px #FFF , 466px 1105px #FFF , 377px 155px #FFF , 1417px 600px #FFF , 1325px 61px #FFF , 272px 436px #FFF , 880px 590px #FFF , 1902px 469px #FFF , 1092px 11px #FFF , 838px 1736px #FFF , 1147px 682px #FFF , 192px 324px #FFF , 897px 738px #FFF , 1703px 1932px #FFF , 765px 1396px #FFF , 1489px 709px #FFF , 244px 526px #FFF , 1708px 1950px #FFF , 873px 976px #FFF , 341px 1892px #FFF , 1630px 1158px #FFF , 1514px 1422px #FFF , 1257px 1056px #FFF , 816px 617px #FFF , 303px 416px #FFF , 1943px 1701px #FFF , 230px 1556px #FFF , 1210px 279px #FFF , 1244px 1862px #FFF , 198px 659px #FFF , 268px 1943px #FFF , 1931px 1627px #FFF , 1552px 445px #FFF , 1056px 663px #FFF , 1310px 161px #FFF , 47px 655px #FFF , 1954px 1622px #FFF , 954px 1037px #FFF , 1536px 1675px #FFF , 1049px 853px #FFF , 1999px 62px #FFF , 1808px 1915px #FFF , 1966px 687px #FFF , 1939px 1828px #FFF , 614px 1054px #FFF , 1810px 1546px #FFF , 355px 1834px #FFF , 38px 21px #FFF , 1701px 1247px #FFF , 126px 856px #FFF , 56px 590px #FFF , 1002px 1183px #FFF , 1113px 1547px #FFF , 1725px 1767px #FFF , 345px 168px #FFF , 115px 1993px #FFF , 1324px 995px #FFF , 561px 1695px #FFF , 643px 1196px #FFF , 1751px 1559px #FFF , 1719px 103px #FFF , 1152px 1858px #FFF , 557px 232px #FFF , 414px 62px #FFF , 1571px 1428px #FFF , 945px 907px #FFF , 1880px 1076px #FFF , 420px 324px #FFF , 1506px 425px #FFF , 1584px 384px #FFF , 1425px 1242px #FFF , 63px 1635px #FFF , 1096px 518px #FFF , 1371px 1014px #FFF , 549px 591px #FFF , 1406px 821px #FFF , 1464px 131px #FFF , 1903px 1616px #FFF , 1287px 1522px #FFF , 1412px 1419px #FFF , 1278px 1831px #FFF , 1824px 299px #FFF , 68px 424px #FFF , 65px 328px #FFF , 1104px 568px #FFF , 1222px 1323px #FFF , 965px 1442px #FFF , 580px 1559px #FFF , 1229px 83px #FFF , 1126px 347px #FFF , 501px 617px #FFF , 1041px 45px #FFF , 1439px 1693px #FFF , 54px 503px #FFF , 483px 1469px #FFF , 813px 1810px #FFF , 1803px 375px #FFF , 1055px 1586px #FFF , 1405px 708px #FFF , 893px 1207px #FFF , 1138px 473px #FFF , 1578px 1518px #FFF , 1894px 721px #FFF , 1846px 333px #FFF , 1373px 407px #FFF , 781px 207px #FFF , 877px 1869px #FFF , 1820px 1204px #FFF , 1219px 709px #FFF , 518px 887px #FFF , 1766px 47px #FFF , 187px 766px #FFF , 83px 293px #FFF , 1962px 1336px #FFF , 833px 71px #FFF , 152px 442px #FFF , 215px 303px #FFF , 1550px 427px #FFF , 326px 265px #FFF , 320px 632px #FFF , 1352px 1276px #FFF , 1547px 251px #FFF , 2px 306px #FFF , 1211px 224px #FFF , 937px 1544px #FFF , 942px 1056px #FFF , 1346px 666px #FFF , 398px 115px #FFF , 108px 263px #FFF , 31px 731px #FFF , 272px 482px #FFF , 31px 462px #FFF , 1539px 1255px #FFF , 248px 876px #FFF , 951px 288px #FFF , 1479px 524px #FFF , 1633px 661px #FFF , 1294px 246px #FFF , 1741px 834px #FFF , 1807px 1287px #FFF , 1822px 1108px #FFF , 544px 144px #FFF , 1671px 570px #FFF , 1719px 1225px #FFF , 1728px 911px #FFF , 1025px 392px #FFF , 313px 276px #FFF , 1720px 658px #FFF , 1326px 1744px #FFF , 1919px 465px #FFF , 239px 987px #FFF , 1826px 1097px #FFF , 990px 1547px #FFF , 1147px 1381px #FFF , 391px 1519px #FFF , 937px 201px #FFF , 332px 987px #FFF , 430px 1228px #FFF , 1826px 1836px #FFF , 1343px 1213px #FFF , 1326px 1235px #FFF , 1498px 1548px #FFF , 648px 567px #FFF , 1336px 813px #FFF , 137px 1393px #FFF , 537px 793px #FFF , 1782px 389px #FFF , 780px 840px #FFF , 1084px 1146px #FFF , 1327px 783px #FFF , 1208px 105px #FFF , 1878px 1264px #FFF , 1165px 1261px #FFF , 535px 1821px #FFF , 1014px 399px #FFF , 333px 362px #FFF , 1610px 1267px #FFF , 336px 555px #FFF , 791px 1005px #FFF , 1347px 1876px #FFF , 1148px 478px #FFF , 1925px 1464px #FFF , 45px 964px #FFF , 1255px 684px #FFF , 1861px 1709px #FFF , 212px 1163px #FFF , 1771px 672px #FFF , 1333px 1998px #FFF , 272px 604px #FFF , 925px 1382px #FFF , 1919px 778px #FFF , 426px 1637px #FFF , 57px 367px #FFF , 1164px 1120px #FFF , 898px 226px #FFF , 1542px 1398px #FFF , 663px 246px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 913px 1893px #FFF , 921px 120px #FFF , 257px 994px #FFF , 1825px 441px #FFF , 1090px 90px #FFF , 1766px 1862px #FFF , 1644px 989px #FFF , 116px 1773px #FFF , 703px 847px #FFF , 243px 1496px #FFF , 1664px 1152px #FFF , 172px 489px #FFF , 1872px 677px #FFF , 838px 1860px #FFF , 771px 391px #FFF , 181px 792px #FFF , 1100px 1146px #FFF , 866px 102px #FFF , 829px 1095px #FFF , 597px 902px #FFF , 1027px 110px #FFF , 1090px 549px #FFF , 477px 615px #FFF , 992px 1621px #FFF , 181px 297px #FFF , 372px 208px #FFF , 1491px 1777px #FFF , 620px 1774px #FFF , 1361px 293px #FFF , 174px 523px #FFF , 1681px 575px #FFF , 997px 363px #FFF , 744px 1069px #FFF , 166px 1682px #FFF , 614px 1112px #FFF , 1860px 1083px #FFF , 1626px 435px #FFF , 567px 478px #FFF , 575px 1373px #FFF , 986px 1671px #FFF , 1074px 767px #FFF , 1909px 484px #FFF , 1495px 323px #FFF , 582px 1147px #FFF , 733px 1033px #FFF , 812px 1733px #FFF , 1331px 1597px #FFF , 1008px 1115px #FFF , 1612px 767px #FFF , 1647px 39px #FFF , 744px 980px #FFF , 1934px 941px #FFF , 637px 1794px #FFF , 292px 1329px #FFF , 448px 805px #FFF , 302px 181px #FFF , 1271px 668px #FFF , 1747px 603px #FFF , 1446px 834px #FFF , 760px 846px #FFF , 608px 767px #FFF , 1775px 176px #FFF , 876px 1516px #FFF , 43px 598px #FFF , 1227px 566px #FFF , 1058px 25px #FFF , 675px 1584px #FFF , 1187px 984px #FFF , 714px 1391px #FFF , 783px 1769px #FFF , 1251px 438px #FFF , 1826px 1594px #FFF , 834px 203px #FFF , 675px 1662px #FFF , 1085px 1738px #FFF , 1421px 952px #FFF , 1939px 122px #FFF , 661px 1479px #FFF , 917px 1570px #FFF , 919px 1905px #FFF , 1378px 947px #FFF , 806px 606px #FFF , 806px 1247px #FFF , 145px 1933px #FFF , 954px 1081px #FFF , 569px 1957px #FFF , 1708px 1035px #FFF , 841px 1305px #FFF , 1760px 1662px #FFF , 1032px 624px #FFF , 1116px 153px #FFF , 1167px 387px #FFF , 1627px 1652px #FFF , 1970px 660px #FFF , 1173px 1495px #FFF , 246px 1104px #FFF , 1994px 180px #FFF , 739px 441px #FFF , 1004px 393px #FFF , 334px 733px #FFF , 805px 965px #FFF , 1531px 797px #FFF , 1224px 1025px #FFF , 931px 1920px #FFF , 467px 1775px #FFF , 700px 147px #FFF , 1812px 152px #FFF , 1255px 1890px #FFF , 642px 1121px #FFF , 1182px 1237px #FFF , 380px 403px #FFF , 614px 1394px #FFF , 1601px 153px #FFF , 1543px 1457px #FFF , 492px 304px #FFF , 1024px 1939px #FFF , 1768px 1031px #FFF , 1173px 874px #FFF , 1768px 659px #FFF , 1886px 808px #FFF , 1778px 334px #FFF , 863px 1566px #FFF , 119px 947px #FFF , 1987px 1159px #FFF , 862px 714px #FFF , 1069px 1307px #FFF , 235px 1194px #FFF , 1782px 1586px #FFF , 172px 343px #FFF , 1444px 113px #FFF , 353px 1292px #FFF , 1011px 506px #FFF , 196px 720px #FFF , 1967px 939px #FFF , 1544px 177px #FFF , 1298px 331px #FFF , 1243px 1169px #FFF , 1739px 695px #FFF , 642px 332px #FFF , 1088px 313px #FFF , 1627px 1369px #FFF , 1894px 426px #FFF , 331px 1852px #FFF , 1456px 671px #FFF , 1261px 157px #FFF , 409px 653px #FFF , 1005px 427px #FFF , 403px 1377px #FFF , 131px 1288px #FFF , 1187px 1409px #FFF , 357px 1164px #FFF , 1970px 1177px #FFF , 953px 1353px #FFF , 1097px 1863px #FFF , 1803px 1788px #FFF , 1140px 125px #FFF , 1794px 651px #FFF , 213px 1206px #FFF , 224px 1802px #FFF , 1063px 1265px #FFF , 638px 1248px #FFF , 1076px 801px #FFF , 369px 1937px #FFF , 1895px 1838px #FFF , 798px 713px #FFF , 1051px 528px #FFF , 519px 310px #FFF , 370px 1627px #FFF , 1322px 40px #FFF , 1473px 1544px #FFF , 953px 1066px #FFF , 1694px 894px #FFF , 269px 111px #FFF , 569px 1923px #FFF , 1135px 299px #FFF , 978px 1922px #FFF , 1556px 1492px #FFF , 837px 792px #FFF , 705px 797px #FFF , 682px 1722px #FFF , 1225px 780px #FFF , 1979px 383px #FFF , 35px 556px #FFF , 1829px 1228px #FFF , 691px 520px #FFF , 914px 1526px #FFF , 1387px 444px #FFF , 1894px 1198px #FFF , 1525px 355px #FFF , 565px 1282px #FFF , 206px 411px #FFF , 1623px 334px #FFF , 417px 534px #FFF , 1176px 442px #FFF , 1997px 1549px #FFF , 395px 435px #FFF , 220px 1976px #FFF , 501px 1843px #FFF , 352px 1844px #FFF , 830px 426px #FFF;
  animation: animStar 50s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 913px 1893px #FFF , 921px 120px #FFF , 257px 994px #FFF , 1825px 441px #FFF , 1090px 90px #FFF , 1766px 1862px #FFF , 1644px 989px #FFF , 116px 1773px #FFF , 703px 847px #FFF , 243px 1496px #FFF , 1664px 1152px #FFF , 172px 489px #FFF , 1872px 677px #FFF , 838px 1860px #FFF , 771px 391px #FFF , 181px 792px #FFF , 1100px 1146px #FFF , 866px 102px #FFF , 829px 1095px #FFF , 597px 902px #FFF , 1027px 110px #FFF , 1090px 549px #FFF , 477px 615px #FFF , 992px 1621px #FFF , 181px 297px #FFF , 372px 208px #FFF , 1491px 1777px #FFF , 620px 1774px #FFF , 1361px 293px #FFF , 174px 523px #FFF , 1681px 575px #FFF , 997px 363px #FFF , 744px 1069px #FFF , 166px 1682px #FFF , 614px 1112px #FFF , 1860px 1083px #FFF , 1626px 435px #FFF , 567px 478px #FFF , 575px 1373px #FFF , 986px 1671px #FFF , 1074px 767px #FFF , 1909px 484px #FFF , 1495px 323px #FFF , 582px 1147px #FFF , 733px 1033px #FFF , 812px 1733px #FFF , 1331px 1597px #FFF , 1008px 1115px #FFF , 1612px 767px #FFF , 1647px 39px #FFF , 744px 980px #FFF , 1934px 941px #FFF , 637px 1794px #FFF , 292px 1329px #FFF , 448px 805px #FFF , 302px 181px #FFF , 1271px 668px #FFF , 1747px 603px #FFF , 1446px 834px #FFF , 760px 846px #FFF , 608px 767px #FFF , 1775px 176px #FFF , 876px 1516px #FFF , 43px 598px #FFF , 1227px 566px #FFF , 1058px 25px #FFF , 675px 1584px #FFF , 1187px 984px #FFF , 714px 1391px #FFF , 783px 1769px #FFF , 1251px 438px #FFF , 1826px 1594px #FFF , 834px 203px #FFF , 675px 1662px #FFF , 1085px 1738px #FFF , 1421px 952px #FFF , 1939px 122px #FFF , 661px 1479px #FFF , 917px 1570px #FFF , 919px 1905px #FFF , 1378px 947px #FFF , 806px 606px #FFF , 806px 1247px #FFF , 145px 1933px #FFF , 954px 1081px #FFF , 569px 1957px #FFF , 1708px 1035px #FFF , 841px 1305px #FFF , 1760px 1662px #FFF , 1032px 624px #FFF , 1116px 153px #FFF , 1167px 387px #FFF , 1627px 1652px #FFF , 1970px 660px #FFF , 1173px 1495px #FFF , 246px 1104px #FFF , 1994px 180px #FFF , 739px 441px #FFF , 1004px 393px #FFF , 334px 733px #FFF , 805px 965px #FFF , 1531px 797px #FFF , 1224px 1025px #FFF , 931px 1920px #FFF , 467px 1775px #FFF , 700px 147px #FFF , 1812px 152px #FFF , 1255px 1890px #FFF , 642px 1121px #FFF , 1182px 1237px #FFF , 380px 403px #FFF , 614px 1394px #FFF , 1601px 153px #FFF , 1543px 1457px #FFF , 492px 304px #FFF , 1024px 1939px #FFF , 1768px 1031px #FFF , 1173px 874px #FFF , 1768px 659px #FFF , 1886px 808px #FFF , 1778px 334px #FFF , 863px 1566px #FFF , 119px 947px #FFF , 1987px 1159px #FFF , 862px 714px #FFF , 1069px 1307px #FFF , 235px 1194px #FFF , 1782px 1586px #FFF , 172px 343px #FFF , 1444px 113px #FFF , 353px 1292px #FFF , 1011px 506px #FFF , 196px 720px #FFF , 1967px 939px #FFF , 1544px 177px #FFF , 1298px 331px #FFF , 1243px 1169px #FFF , 1739px 695px #FFF , 642px 332px #FFF , 1088px 313px #FFF , 1627px 1369px #FFF , 1894px 426px #FFF , 331px 1852px #FFF , 1456px 671px #FFF , 1261px 157px #FFF , 409px 653px #FFF , 1005px 427px #FFF , 403px 1377px #FFF , 131px 1288px #FFF , 1187px 1409px #FFF , 357px 1164px #FFF , 1970px 1177px #FFF , 953px 1353px #FFF , 1097px 1863px #FFF , 1803px 1788px #FFF , 1140px 125px #FFF , 1794px 651px #FFF , 213px 1206px #FFF , 224px 1802px #FFF , 1063px 1265px #FFF , 638px 1248px #FFF , 1076px 801px #FFF , 369px 1937px #FFF , 1895px 1838px #FFF , 798px 713px #FFF , 1051px 528px #FFF , 519px 310px #FFF , 370px 1627px #FFF , 1322px 40px #FFF , 1473px 1544px #FFF , 953px 1066px #FFF , 1694px 894px #FFF , 269px 111px #FFF , 569px 1923px #FFF , 1135px 299px #FFF , 978px 1922px #FFF , 1556px 1492px #FFF , 837px 792px #FFF , 705px 797px #FFF , 682px 1722px #FFF , 1225px 780px #FFF , 1979px 383px #FFF , 35px 556px #FFF , 1829px 1228px #FFF , 691px 520px #FFF , 914px 1526px #FFF , 1387px 444px #FFF , 1894px 1198px #FFF , 1525px 355px #FFF , 565px 1282px #FFF , 206px 411px #FFF , 1623px 334px #FFF , 417px 534px #FFF , 1176px 442px #FFF , 1997px 1549px #FFF , 395px 435px #FFF , 220px 1976px #FFF , 501px 1843px #FFF , 352px 1844px #FFF , 830px 426px #FFF;
}

#stars3 {
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 993px 1664px #FFF , 1922px 1937px #FFF , 358px 1193px #FFF , 836px 1800px #FFF , 1662px 1804px #FFF , 830px 1392px #FFF , 1266px 929px #FFF , 1092px 1938px #FFF , 1959px 78px #FFF , 178px 870px #FFF , 1397px 87px #FFF , 989px 343px #FFF , 255px 1655px #FFF , 639px 1749px #FFF , 1133px 294px #FFF , 1385px 1338px #FFF , 54px 1378px #FFF , 1923px 1386px #FFF , 112px 1041px #FFF , 1953px 232px #FFF , 629px 1758px #FFF , 1750px 276px #FFF , 474px 749px #FFF , 1498px 1994px #FFF , 809px 1558px #FFF , 833px 1718px #FFF , 1217px 630px #FFF , 104px 285px #FFF , 1803px 1844px #FFF , 1830px 208px #FFF , 782px 979px #FFF , 1164px 1692px #FFF , 1164px 1498px #FFF , 1065px 1315px #FFF , 394px 104px #FFF , 392px 442px #FFF , 1065px 1546px #FFF , 1060px 1537px #FFF , 1647px 466px #FFF , 448px 850px #FFF , 472px 527px #FFF , 459px 298px #FFF , 614px 441px #FFF , 990px 1580px #FFF , 291px 1981px #FFF , 81px 1770px #FFF , 1255px 537px #FFF , 367px 1803px #FFF , 1279px 1424px #FFF , 1793px 1485px #FFF , 1415px 830px #FFF , 149px 334px #FFF , 984px 1427px #FFF , 1133px 1054px #FFF , 624px 1638px #FFF , 1931px 565px #FFF , 1160px 1931px #FFF , 187px 268px #FFF , 95px 1687px #FFF , 695px 1784px #FFF , 359px 267px #FFF , 187px 491px #FFF , 1990px 675px #FFF , 164px 897px #FFF , 1601px 5px #FFF , 1028px 258px #FFF , 1841px 211px #FFF , 1376px 1132px #FFF , 668px 1218px #FFF , 1619px 1328px #FFF , 847px 1645px #FFF , 1618px 237px #FFF , 18px 1697px #FFF , 806px 2000px #FFF , 1596px 1529px #FFF , 240px 575px #FFF , 701px 867px #FFF , 1504px 1932px #FFF , 356px 949px #FFF , 1040px 68px #FFF , 644px 801px #FFF , 1501px 439px #FFF , 400px 1157px #FFF , 1416px 469px #FFF , 690px 778px #FFF , 526px 65px #FFF , 561px 1308px #FFF , 1192px 1991px #FFF , 1434px 1518px #FFF , 394px 936px #FFF , 1771px 1669px #FFF , 751px 144px #FFF , 388px 1901px #FFF , 1121px 213px #FFF , 386px 239px #FFF , 1281px 1449px #FFF , 753px 1695px #FFF , 1873px 1449px #FFF , 1751px 31px #FFF , 706px 1721px #FFF;
  animation: animStar 100s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 993px 1664px #FFF , 1922px 1937px #FFF , 358px 1193px #FFF , 836px 1800px #FFF , 1662px 1804px #FFF , 830px 1392px #FFF , 1266px 929px #FFF , 1092px 1938px #FFF , 1959px 78px #FFF , 178px 870px #FFF , 1397px 87px #FFF , 989px 343px #FFF , 255px 1655px #FFF , 639px 1749px #FFF , 1133px 294px #FFF , 1385px 1338px #FFF , 54px 1378px #FFF , 1923px 1386px #FFF , 112px 1041px #FFF , 1953px 232px #FFF , 629px 1758px #FFF , 1750px 276px #FFF , 474px 749px #FFF , 1498px 1994px #FFF , 809px 1558px #FFF , 833px 1718px #FFF , 1217px 630px #FFF , 104px 285px #FFF , 1803px 1844px #FFF , 1830px 208px #FFF , 782px 979px #FFF , 1164px 1692px #FFF , 1164px 1498px #FFF , 1065px 1315px #FFF , 394px 104px #FFF , 392px 442px #FFF , 1065px 1546px #FFF , 1060px 1537px #FFF , 1647px 466px #FFF , 448px 850px #FFF , 472px 527px #FFF , 459px 298px #FFF , 614px 441px #FFF , 990px 1580px #FFF , 291px 1981px #FFF , 81px 1770px #FFF , 1255px 537px #FFF , 367px 1803px #FFF , 1279px 1424px #FFF , 1793px 1485px #FFF , 1415px 830px #FFF , 149px 334px #FFF , 984px 1427px #FFF , 1133px 1054px #FFF , 624px 1638px #FFF , 1931px 565px #FFF , 1160px 1931px #FFF , 187px 268px #FFF , 95px 1687px #FFF , 695px 1784px #FFF , 359px 267px #FFF , 187px 491px #FFF , 1990px 675px #FFF , 164px 897px #FFF , 1601px 5px #FFF , 1028px 258px #FFF , 1841px 211px #FFF , 1376px 1132px #FFF , 668px 1218px #FFF , 1619px 1328px #FFF , 847px 1645px #FFF , 1618px 237px #FFF , 18px 1697px #FFF , 806px 2000px #FFF , 1596px 1529px #FFF , 240px 575px #FFF , 701px 867px #FFF , 1504px 1932px #FFF , 356px 949px #FFF , 1040px 68px #FFF , 644px 801px #FFF , 1501px 439px #FFF , 400px 1157px #FFF , 1416px 469px #FFF , 690px 778px #FFF , 526px 65px #FFF , 561px 1308px #FFF , 1192px 1991px #FFF , 1434px 1518px #FFF , 394px 936px #FFF , 1771px 1669px #FFF , 751px 144px #FFF , 388px 1901px #FFF , 1121px 213px #FFF , 386px 239px #FFF , 1281px 1449px #FFF , 753px 1695px #FFF , 1873px 1449px #FFF , 1751px 31px #FFF , 706px 1721px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.additional {
  position: relative;
  z-index: 10;
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  .additional {
    width: 30vw;
    height: 100vh;
  }
}
.additional__video-container {
  width: 100%;
}
.additional__video {
  position: absolute;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  top: 0;
}
@media only screen and (min-width: 768px) {
  .additional__video {
    width: 30vw;
  }
}
.additional__container-text {
  z-index: 11;
  color: #C19875;
  font-family: "Cormorant Unicase", sans-serif;
  font-size: 1rem;
}
.additional__h2 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  padding: 0 1.5rem;
  padding-top: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .additional__h2 {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1024px) {
  .additional__h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .additional__h2 {
    font-size: 2.5rem;
  }
}

.skills {
  background-color: #01000A;
  z-index: 1000;
  height: 100vh;
  position: relative;
  transition: none;
  font-family: "Cormorant Unicase", sans-serif;
}
.skills__container {
  display: flex;
  align-items: center;
  width: 100vw;
  position: absolute;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  top: 2rem;
  height: 65%;
}
@media only screen and (min-width: 768px) {
  .skills__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Cormorant Unicase", sans-serif;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
.skills__h2 {
  color: #F8F3E2;
}
.skills__h2::before {
  background: #F8F3E2;
}
.skills__card {
  width: 8rem;
  height: 14rem;
  border-radius: 1rem;
  background: #F8F3E2;
  box-shadow: -5px 5px 10.7px 1px rgba(255, 255, 255, 0.6);
  text-align: center;
  transition: transform 0.5s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .skills__card {
    width: 10rem;
    height: 16rem;
  }
}
@media only screen and (min-width: 1024px) {
  .skills__card {
    width: 10rem;
    height: 16rem;
  }
}
@media only screen and (min-width: 1440px) {
  .skills__card {
    width: 14rem;
    height: 22rem;
  }
}
.skills__card:hover {
  transform: translateY(-10px) rotateX(-1deg) rotateY(2deg);
}
.skills__card-1 {
  transform: rotate(-17deg);
}
.skills__card-2 {
  margin-left: 1rem;
  transform: rotate(7deg);
}
@media only screen and (min-width: 768px) {
  .skills__card-2 {
    margin: 0;
  }
}
.skills__card-3 {
  transform: rotate(11deg);
}
.skills__card-4 {
  transform: rotate(-4deg);
}
.skills__svg {
  height: 100%;
}
.skills__circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.skills__circle::before {
  display: block;
  width: 22px;
  height: 10px;
  margin: 10px 5px 0 10px;
}
.skills__card-text {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
}
.skills__card-h2 {
  text-align: center;
  margin: 0;
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .skills__card-h2 {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media only screen and (min-width: 1024px) {
  .skills__card-h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1440px) {
  .skills__card-h2 {
    font-size: 2rem;
  }
}
.skills__card-content {
  font-size: 0.8rem;
  padding: 0 0.8rem;
}
@media only screen and (min-width: 768px) {
  .skills__card-content {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .skills__card-content {
    font-size: 1.1rem;
  }
}
.skills__card-content-end {
  padding: 0 1.5rem;
}
@media only screen and (min-width: 768px) {
  .skills__card-content-end {
    padding: 0 2rem;
  }
}
.skills__card-techno {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .skills__card-techno {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .skills__card-techno {
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
  }
}
.skills__position-1 {
  height: 10%;
}
.skills__position-2 {
  height: 80%;
}
.skills__position-3 {
  height: 25%;
}
@media only screen and (min-width: 768px) {
  .skills__position-3 {
    height: 5%;
  }
}
.skills__position-4 {
  height: 50%;
}

.paper {
  --paper-dark: #e5c93d;
  --paper-color: #ffed87;
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 325px;
  min-height: 175px;
  background: linear-gradient(135deg, var(--paper-dark), 30%, var(--paper-color));
  box-shadow: 3px 3px 2px var(--paper-shadow);
  transform: rotate(10deg);
  transform-origin: top left;
}

.paper p {
  margin: auto;
}

.pin {
  --pin-color: #d02627;
  --pin-dark: #9e0608;
  --pin-light: #fc7e7d;
  position: absolute;
  left: 20px;
  width: 60px;
  height: 50px;
}

.shadow {
  position: absolute;
  top: 18px;
  left: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: radial-gradient(var(--paper-shadow), 20%, rgba(201, 191, 141, 0));
}

.metal {
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
  border-radius: 0 0 30% 30%;
  transform: rotate(50deg);
  transform-origin: bottom left;
  top: 15px;
  border-bottom: 1px solid #808080;
}

.bottom-circle {
  position: absolute;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--pin-color);
  background: radial-gradient(circle at bottom right, var(--pin-light), 25%, var(--pin-dark), 90%, var(--pin-color));
}

/* Barrel */
.bottom-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 20px;
  height: 30px;
  transform: rotate(55deg);
  transform-origin: 100% 100%;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(to right, var(--pin-dark), 30%, var(--pin-color), 90%, var(--pin-light));
}

/* Top circle */
.bottom-circle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(circle at right, var(--pin-light), 30%, var(--pin-color), var(--pin-dark) 80%);
}

/*# sourceMappingURL=main.css.map */
