@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor: url("../../assets/video/cursor.gif"), auto;
}

.App {
  height: 100vh;
}

.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 768px) {
  main {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    /* pour ie et mozilla */
    -ms-overlow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .main__container {
    display: flex;
    flex-direction: row;
    width: 530vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
}

img {
  width: 20rem;
}
@media only screen and (min-width: 768px) {
  img {
    width: 45rem;
  }
}

svg {
  width: 100%;
  height: 14rem;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  svg {
    width: 100%;
    height: 100%;
  }
}


.header {
  position: relative;
  z-index: 100;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  color: #C19875;
  font-family: "Cormorant Unicase", serif;
  font-size: 1.3rem;
  width: 100vw;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .header__container {
    font-size: 2.5rem;
  }
}
.header__container-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
@media only screen and (min-width: 768px) {
  .header__container-information {
    align-items: center;
    padding: 0 5rem;
  }
}
.header__container-subtitle {
  display: grid;
  font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .header__container-subtitle {
    font-size: 2rem;
  }
}
.header__container-social-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {
  .header__container-social-links {
    font-size: 2.5rem;
  }
}
.header__social-link {
  color: #C19875;
}
.header__subtitle {
  width: 20rem;
  font-family: "Cormorant Upright", serif;
}
.header__social-img {
  width: 2rem;
  margin: 1rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .header__social-img {
    width: 2.7rem;
  }
}
.header__wave {
  position: absolute;
  top: 2%;
  width: 100%;
}
.header__button-audio {
  width: 3rem;
  height: 3rem;
  right: 2%;
  z-index: 100;
  padding: 0.5rem;
  border-radius: 50%;
}
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .header__video {
    z-index: -1;
    background-color: black;
  }
}
.header__bar-top {
  top: 0;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 120px;
  background-color: black;
  z-index: 1;
  overflow: hidden;
  transition: height 1.5s ease-in-out;
}
.header__bar-top.visible {
  height: 0vh;
  transition: height 1.5s ease-in-out;
}
.header__bar-bottom {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 120px;
  background-color: black;
  z-index: 1;
  overflow: hidden;
  transition: height 1.5s ease-in-out;
}
.header__bar-bottom.visible {
  height: 0vh;
  transition: height 1.5s ease-in-out;
}
.header__title {
  text-align: center;
  padding: 0 3rem;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  padding-top: 2rem;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 2.5rem;
  }
}
.header__arrow {
  width: 2.5rem;
  rotate: 90deg;
}
@media only screen and (min-width: 768px) {
  .header__arrow {
    width: 3rem;
    rotate: 0deg;
  }
}
.header__button-audio {
  position: absolute;
}

.project {
  background: linear-gradient(#F7F3E3 0%, #F9E0B6 100%);
  height: 50vh;
  position: relative;
  z-index: 100;
}
@media only screen and (min-width: 768px) {
  .project {
    background: linear-gradient(90deg, #F7F3E3 0%, #F9E0B6 100%);
    height: 100vh;
  }
}
.project__container-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F3E3;
  transition: opacity 0.5s ease;
  opacity: 1;
  font-family: "Cormorant Unicase", sans-serif;
  color: #C19875;
}
@media only screen and (min-width: 768px) {
  .project__container-popup {
    height: 100vh;
  }
}
.project__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.project__container-background {
  position: absolute;
  width: 100vw;
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  .project__container-background {
    height: 115vh;
  }
}
.project__sellotape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.5rem;
  height: 3rem;
  font-size: 0.4rem;
  background: rgba(0, 0, 0, 0.8509803922);
  color: white;
  transform: rotate(-39.964deg);
  text-align: center;
  font-family: "Cormorant Upright", serif;
  text-align: center;
  fill: rgba(0, 0, 0, 0.85);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width: 768px) {
  .project__sellotape {
    width: 17.5rem;
    height: 5.5rem;
    font-size: 1rem;
  }
}
.project__p {
  padding: 0 1rem;
}
.project__empty {
  color: transparent;
}
.project__container-img {
  display: grid;
  justify-content: center;
  z-index: 2;
}
.project__position-element {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .project__position-element {
    margin: 0 5rem;
  }
}
.project__background-img {
  width: 20rem;
}
.project__img-popup {
  width: 12rem;
}
@media only screen and (min-width: 768px) {
  .project__img-popup {
    width: 20rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__img-popup {
    width: 40%;
  }
}
@media only screen and (min-width: 1440px) {
  .project__img-popup {
    width: 35rem;
  }
}
@media only screen and (min-width: 1600px) {
  .project__img-popup {
    width: 45rem;
  }
}
.project__description {
  font-size: 0.5rem;
  max-width: 10rem;
  font-weight: 600;
  font-style: italic;
}
@media only screen and (min-width: 768px) {
  .project__description {
    font-size: 0.8rem;
    max-width: 25rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__description {
    font-size: 1.2rem;
    max-width: 30rem;
  }
}
@media only screen and (min-width: 1440px) {
  .project__description {
    font-size: 1.6rem;
    max-width: 35rem;
  }
}
.project__button-close {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 5rem;
  height: 5rem;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
}
.project__button-close:hover {
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .project__button-close {
    font-size: 3rem;
  }
}
.project__position-sellotape {
  width: 125%;
  display: flex;
  justify-content: flex-end;
  margin: -2rem;
}
@media only screen and (min-width: 768px) {
  .project__position-sellotape {
    margin: -4rem;
  }
}
@media only screen and (min-width: 1600px) {
  .project__position-sellotape {
    width: 118%;
  }
}
.project__img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 17rem;
  height: 11rem;
  cursor: pointer;
}
.project__img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}
@media only screen and (min-width: 768px) {
  .project__img {
    width: 30rem;
    height: 20rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__img {
    width: 45rem;
    height: 25rem;
  }
}
@media only screen and (min-width: 1600px) {
  .project__img {
    width: 60rem;
    height: 35rem;
  }
}
.project__h2 {
  color: #9A7752;
  font-family: Cormorant Unicase;
  font-size: 1.5rem;
  padding-left: 2rem;
}
.project__h2::before {
  content: " ";
  display: inline-block;
  width: 0.4rem;
  height: 0.8rem;
  background: #9A7752;
  margin-right: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .project__h2 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8rem;
  }
  .project__h2::before {
    width: 0.6rem;
    height: 1rem;
  }
}
.project__title {
  padding: 0;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
.project__title::before {
  content: none;
}
@media only screen and (min-width: 768px) {
  .project__title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1440px) {
  .project__title {
    font-size: 3.5rem;
  }
}
.project__container-svg {
  position: absolute;
  height: 50vh;
  width: 100vw;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media only screen and (min-width: 768px) {
  .project__container-svg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    justify-items: center;
  }
}
.project__sellotape-popup {
  transform: rotate(0deg);
}
.project__link {
  padding: 0 1rem;
  color: white;
}

.projectTwo {
  background: linear-gradient(0deg, #F9AF4E 0%, #F9E0B7 100%);
  position: relative;
  z-index: 100;
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  .projectTwo {
    background: linear-gradient(270deg, #F9AF4E 0%, #F9E0B7 100%);
    height: 100vh;
  }
}

.projectThree {
  background: linear-gradient(0deg, #D85531 0%, #F9AF4E 100%);
  height: 50vh;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .projectThree {
    background: linear-gradient(270deg, #D85531 0%, #F9AF4E 100%);
    height: 100vh;
  }
}
.projectThree__container-stars {
  position: absolute;
  width: 100vw;
  height: 50vh;
  z-index: 1;
}

#stars, #stars2, #stars3 {
  width: 1.5px;
  height: 1.5px;
  background: transparent;
  animation: animStar 20s linear infinite;
}
#stars:after, #stars2:after, #stars3:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 349px 1879px #FFF , 1535px 1091px #FFF , 1071px 732px #FFF , 1379px 1055px #FFF , 1673px 805px #FFF , 1858px 1899px #FFF , 709px 518px #FFF , 1607px 1266px #FFF , 424px 290px #FFF , 763px 1226px #FFF , 266px 1317px #FFF , 1226px 451px #FFF , 1611px 875px #FFF , 1469px 1429px #FFF , 846px 1385px #FFF , 186px 849px #FFF , 472px 733px #FFF , 265px 339px #FFF , 204px 533px #FFF , 317px 1166px #FFF , 84px 1729px #FFF , 491px 1494px #FFF , 697px 255px #FFF , 200px 94px #FFF , 696px 939px #FFF , 960px 1723px #FFF , 346px 1700px #FFF , 1005px 1793px #FFF , 1571px 789px #FFF , 1589px 952px #FFF , 1023px 136px #FFF , 1162px 1585px #FFF , 1074px 1040px #FFF , 1103px 232px #FFF , 1043px 393px #FFF , 879px 295px #FFF , 1675px 1323px #FFF , 1912px 1940px #FFF , 379px 1022px #FFF , 1675px 1728px #FFF , 1357px 361px #FFF , 1225px 1658px #FFF , 701px 1199px #FFF , 1368px 1536px #FFF , 1027px 414px #FFF , 180px 1424px #FFF , 755px 290px #FFF , 1374px 1334px #FFF , 1239px 1365px #FFF , 967px 1623px #FFF , 1441px 1042px #FFF , 1522px 344px #FFF , 1539px 949px #FFF , 792px 1253px #FFF , 414px 994px #FFF , 779px 1916px #FFF , 57px 1224px #FFF , 1087px 1413px #FFF , 985px 252px #FFF , 1334px 1084px #FFF , 303px 1634px #FFF , 1093px 95px #FFF , 1906px 1353px #FFF , 1706px 935px #FFF , 1284px 984px #FFF , 1854px 808px #FFF , 1824px 50px #FFF , 1175px 1701px #FFF , 1966px 618px #FFF , 528px 1905px #FFF , 1624px 1730px #FFF , 980px 1376px #FFF , 1791px 175px #FFF , 907px 360px #FFF , 1477px 1790px #FFF , 804px 1340px #FFF , 873px 559px #FFF , 40px 1618px #FFF , 367px 289px #FFF , 1612px 1083px #FFF , 434px 817px #FFF , 557px 1859px #FFF , 540px 1454px #FFF , 735px 323px #FFF , 1901px 1530px #FFF , 1015px 237px #FFF , 1889px 1900px #FFF , 1506px 259px #FFF , 754px 1055px #FFF , 1044px 1238px #FFF , 71px 1710px #FFF , 1351px 119px #FFF , 1411px 1157px #FFF , 1156px 769px #FFF , 845px 1117px #FFF , 1942px 1321px #FFF , 1048px 730px #FFF , 389px 1038px #FFF , 1071px 1603px #FFF , 922px 991px #FFF , 1620px 813px #FFF , 1363px 997px #FFF , 1612px 998px #FFF , 752px 1083px #FFF , 1120px 1292px #FFF , 907px 980px #FFF , 1729px 1295px #FFF , 184px 1289px #FFF , 1748px 1946px #FFF , 1037px 404px #FFF , 585px 1930px #FFF , 1539px 1301px #FFF , 34px 1628px #FFF , 802px 1312px #FFF , 1418px 1562px #FFF , 674px 998px #FFF , 14px 822px #FFF , 583px 1589px #FFF , 528px 227px #FFF , 1199px 1011px #FFF , 784px 760px #FFF , 968px 467px #FFF , 799px 69px #FFF , 171px 1653px #FFF , 550px 1581px #FFF , 1678px 27px #FFF , 256px 1412px #FFF , 823px 220px #FFF , 971px 122px #FFF , 1065px 410px #FFF , 983px 1588px #FFF , 534px 1360px #FFF , 1054px 1017px #FFF , 1017px 162px #FFF , 1912px 681px #FFF , 961px 1941px #FFF , 1974px 387px #FFF , 778px 1057px #FFF , 167px 291px #FFF , 1260px 235px #FFF , 996px 631px #FFF , 1560px 1780px #FFF , 105px 1382px #FFF , 1294px 745px #FFF , 1374px 149px #FFF , 1043px 968px #FFF , 491px 754px #FFF , 97px 1178px #FFF , 102px 570px #FFF , 369px 1921px #FFF , 1062px 1529px #FFF , 894px 966px #FFF , 725px 223px #FFF , 1194px 558px #FFF , 311px 1248px #FFF , 1384px 789px #FFF , 1184px 1200px #FFF , 674px 1539px #FFF , 1434px 345px #FFF , 1648px 1212px #FFF , 635px 1590px #FFF , 299px 879px #FFF , 1439px 559px #FFF , 1921px 903px #FFF , 517px 37px #FFF , 397px 1594px #FFF , 1643px 938px #FFF , 1431px 1725px #FFF , 1031px 998px #FFF , 567px 736px #FFF , 152px 219px #FFF , 1244px 721px #FFF , 752px 1467px #FFF , 1998px 952px #FFF , 704px 1054px #FFF , 1849px 656px #FFF , 1055px 1999px #FFF , 1559px 281px #FFF , 34px 170px #FFF , 1252px 891px #FFF , 1244px 231px #FFF , 1226px 563px #FFF , 40px 1603px #FFF , 455px 1160px #FFF , 867px 768px #FFF , 1952px 241px #FFF , 163px 194px #FFF , 1305px 530px #FFF , 213px 1162px #FFF , 368px 1295px #FFF , 1212px 1148px #FFF , 1155px 1621px #FFF , 1635px 757px #FFF , 105px 1984px #FFF , 768px 1261px #FFF , 6px 1971px #FFF , 925px 1650px #FFF , 1567px 42px #FFF , 322px 1533px #FFF , 1236px 1187px #FFF , 449px 152px #FFF , 277px 1802px #FFF , 1008px 1834px #FFF , 1927px 24px #FFF , 1203px 404px #FFF , 284px 127px #FFF , 221px 493px #FFF , 303px 526px #FFF , 1241px 120px #FFF , 353px 216px #FFF , 1669px 330px #FFF , 1672px 599px #FFF , 1954px 928px #FFF , 1027px 1535px #FFF , 1921px 1919px #FFF , 1033px 1812px #FFF , 1672px 428px #FFF , 158px 1260px #FFF , 1058px 298px #FFF , 376px 1562px #FFF , 1004px 321px #FFF , 1383px 1453px #FFF , 1695px 172px #FFF , 953px 1909px #FFF , 790px 1479px #FFF , 675px 1861px #FFF , 938px 677px #FFF , 1015px 946px #FFF , 1254px 974px #FFF , 301px 1528px #FFF , 274px 1638px #FFF , 778px 545px #FFF , 561px 721px #FFF , 934px 339px #FFF , 1912px 317px #FFF , 1729px 1852px #FFF , 77px 19px #FFF , 207px 80px #FFF , 623px 421px #FFF , 381px 1598px #FFF , 978px 1317px #FFF , 499px 290px #FFF , 1092px 192px #FFF , 1916px 1749px #FFF , 394px 1587px #FFF , 442px 322px #FFF , 1731px 1203px #FFF , 1535px 490px #FFF , 659px 323px #FFF , 1406px 1362px #FFF , 1193px 333px #FFF , 765px 1333px #FFF , 1807px 1958px #FFF , 938px 1588px #FFF , 1418px 319px #FFF , 1508px 350px #FFF , 1515px 1767px #FFF , 1789px 1419px #FFF , 216px 1281px #FFF , 1064px 517px #FFF , 966px 933px #FFF , 1220px 1127px #FFF , 401px 1281px #FFF , 1523px 279px #FFF , 1251px 873px #FFF , 144px 1614px #FFF , 1542px 1106px #FFF , 277px 1130px #FFF , 123px 1555px #FFF , 1193px 1814px #FFF , 861px 1317px #FFF , 1433px 1689px #FFF , 1064px 622px #FFF , 1038px 1572px #FFF , 1757px 901px #FFF , 1270px 483px #FFF , 1788px 1649px #FFF , 1035px 1460px #FFF , 213px 530px #FFF , 1713px 1231px #FFF , 1913px 1728px #FFF , 786px 1629px #FFF , 1061px 1732px #FFF , 53px 318px #FFF , 388px 1526px #FFF , 312px 93px #FFF , 578px 632px #FFF , 1883px 208px #FFF , 825px 371px #FFF , 1553px 886px #FFF , 1395px 1194px #FFF , 1350px 1856px #FFF , 1984px 562px #FFF , 752px 213px #FFF , 849px 653px #FFF , 31px 1079px #FFF , 848px 357px #FFF , 846px 1670px #FFF , 883px 1648px #FFF , 874px 1090px #FFF , 166px 3px #FFF , 1955px 909px #FFF , 460px 379px #FFF , 891px 932px #FFF , 1874px 781px #FFF , 52px 1007px #FFF , 1609px 33px #FFF , 1593px 195px #FFF , 1897px 1683px #FFF , 898px 1029px #FFF , 578px 1504px #FFF , 1063px 1500px #FFF , 1155px 1313px #FFF , 373px 1039px #FFF , 1047px 1458px #FFF , 141px 1101px #FFF , 1872px 1159px #FFF , 610px 636px #FFF , 1586px 1373px #FFF , 626px 827px #FFF , 1778px 776px #FFF , 1576px 853px #FFF , 747px 491px #FFF , 1603px 463px #FFF , 1036px 352px #FFF , 1885px 1992px #FFF , 1692px 658px #FFF , 551px 1392px #FFF , 42px 378px #FFF , 1586px 857px #FFF , 147px 1551px #FFF , 1944px 547px #FFF , 507px 1394px #FFF , 517px 1475px #FFF , 69px 978px #FFF , 241px 646px #FFF , 735px 1663px #FFF , 1574px 376px #FFF , 941px 1666px #FFF , 108px 589px #FFF , 1771px 1660px #FFF , 1743px 1986px #FFF , 1251px 1584px #FFF , 206px 1720px #FFF , 1385px 1855px #FFF , 480px 983px #FFF , 455px 1649px #FFF , 1px 1984px #FFF , 38px 1741px #FFF , 1565px 1891px #FFF , 136px 61px #FFF , 754px 1676px #FFF , 1517px 1661px #FFF , 672px 1315px #FFF , 1068px 1282px #FFF , 1014px 233px #FFF , 1080px 1445px #FFF , 1943px 1467px #FFF , 1420px 585px #FFF , 695px 585px #FFF , 570px 1281px #FFF , 486px 868px #FFF , 807px 787px #FFF , 1692px 95px #FFF , 1589px 1644px #FFF , 1091px 910px #FFF , 1484px 1769px #FFF , 775px 974px #FFF , 375px 1884px #FFF , 808px 1017px #FFF , 1921px 1790px #FFF , 762px 1225px #FFF , 1901px 1521px #FFF , 649px 1396px #FFF , 1507px 1007px #FFF , 1869px 1857px #FFF , 636px 120px #FFF , 1113px 1227px #FFF , 347px 1411px #FFF , 18px 563px #FFF , 87px 1878px #FFF , 1794px 1427px #FFF , 1474px 40px #FFF , 1614px 1953px #FFF , 1805px 217px #FFF , 872px 797px #FFF , 191px 1246px #FFF , 288px 393px #FFF , 566px 121px #FFF , 1696px 461px #FFF , 1573px 1407px #FFF , 1289px 1992px #FFF , 719px 957px #FFF , 861px 1560px #FFF , 384px 1188px #FFF , 1681px 1069px #FFF , 1957px 349px #FFF , 221px 338px #FFF , 95px 686px #FFF , 1732px 1032px #FFF , 998px 113px #FFF , 1414px 1756px #FFF , 851px 472px #FFF , 1677px 1032px #FFF , 544px 298px #FFF , 894px 1418px #FFF , 166px 1991px #FFF , 321px 544px #FFF , 1365px 727px #FFF , 1207px 243px #FFF , 551px 125px #FFF , 1430px 1831px #FFF , 434px 50px #FFF , 199px 299px #FFF , 1235px 381px #FFF , 1180px 803px #FFF , 1631px 743px #FFF , 1482px 1992px #FFF , 918px 1835px #FFF , 1107px 608px #FFF , 1672px 583px #FFF , 695px 1456px #FFF , 373px 646px #FFF , 386px 484px #FFF , 1957px 1402px #FFF , 750px 1158px #FFF , 654px 527px #FFF , 1669px 1905px #FFF , 1636px 10px #FFF , 1126px 1702px #FFF , 1074px 770px #FFF , 1926px 1639px #FFF , 1591px 1043px #FFF , 416px 348px #FFF , 182px 129px #FFF , 667px 1465px #FFF , 1295px 956px #FFF , 1737px 1628px #FFF , 553px 1423px #FFF , 128px 1211px #FFF , 1743px 325px #FFF , 184px 808px #FFF , 1590px 1425px #FFF , 534px 1764px #FFF , 1749px 1043px #FFF , 1381px 1598px #FFF , 1495px 1541px #FFF , 1649px 1873px #FFF , 572px 393px #FFF , 1524px 660px #FFF , 1232px 1571px #FFF , 549px 443px #FFF , 571px 12px #FFF , 180px 289px #FFF , 979px 1495px #FFF , 1833px 1198px #FFF , 1739px 1510px #FFF , 1888px 381px #FFF , 657px 1639px #FFF , 1988px 1847px #FFF , 486px 257px #FFF , 1911px 1051px #FFF , 330px 397px #FFF , 485px 829px #FFF , 319px 1201px #FFF , 492px 1259px #FFF , 938px 156px #FFF , 136px 1998px #FFF , 207px 368px #FFF , 1958px 1700px #FFF , 961px 519px #FFF , 822px 623px #FFF , 646px 656px #FFF , 1213px 873px #FFF , 1317px 789px #FFF , 1786px 1046px #FFF , 146px 1435px #FFF , 1197px 249px #FFF , 1304px 1524px #FFF , 151px 1203px #FFF , 1532px 821px #FFF , 891px 682px #FFF , 552px 1669px #FFF , 323px 889px #FFF , 1161px 132px #FFF , 1209px 1093px #FFF , 1586px 903px #FFF , 216px 1193px #FFF , 1312px 1411px #FFF , 1136px 1218px #FFF , 1680px 182px #FFF , 194px 245px #FFF , 1051px 532px #FFF , 521px 187px #FFF , 1822px 1503px #FFF , 1391px 78px #FFF , 1144px 1803px #FFF , 1128px 255px #FFF , 582px 1752px #FFF , 1654px 1168px #FFF , 1762px 1329px #FFF , 1986px 1698px #FFF , 1815px 649px #FFF , 1884px 685px #FFF , 1945px 1760px #FFF , 1991px 748px #FFF , 315px 1698px #FFF , 1665px 1346px #FFF , 1247px 724px #FFF , 1023px 811px #FFF , 1599px 1862px #FFF , 1125px 351px #FFF , 1574px 1625px #FFF , 1736px 1211px #FFF , 810px 1464px #FFF , 29px 536px #FFF , 131px 239px #FFF , 1246px 427px #FFF , 1017px 1836px #FFF , 1682px 1386px #FFF , 435px 527px #FFF , 1550px 895px #FFF , 1982px 773px #FFF , 1320px 539px #FFF , 174px 199px #FFF , 1783px 1309px #FFF , 759px 710px #FFF , 502px 1px #FFF , 578px 959px #FFF , 19px 1507px #FFF , 1267px 1460px #FFF , 1719px 1461px #FFF , 1874px 524px #FFF , 1834px 2000px #FFF , 1104px 1266px #FFF , 1489px 132px #FFF , 1773px 1774px #FFF , 1155px 55px #FFF , 978px 1868px #FFF , 127px 897px #FFF , 1003px 1435px #FFF , 27px 46px #FFF , 372px 30px #FFF , 1413px 404px #FFF , 2000px 1803px #FFF , 1860px 1085px #FFF , 1149px 443px #FFF , 1628px 1272px #FFF , 619px 1424px #FFF , 1837px 1473px #FFF , 1309px 1583px #FFF , 795px 1604px #FFF , 593px 1685px #FFF , 405px 1139px #FFF , 1843px 1656px #FFF , 298px 996px #FFF , 1991px 715px #FFF , 1755px 154px #FFF , 924px 927px #FFF , 1817px 523px #FFF , 916px 64px #FFF , 1984px 416px #FFF , 1755px 1459px #FFF , 1497px 16px #FFF , 291px 1927px #FFF , 516px 1670px #FFF , 1358px 1716px #FFF , 407px 1780px #FFF , 115px 1194px #FFF , 1878px 1872px #FFF , 534px 1948px #FFF , 371px 9px #FFF , 29px 1305px #FFF , 341px 799px #FFF , 246px 1308px #FFF , 342px 349px #FFF , 1515px 826px #FFF , 170px 1929px #FFF , 1341px 1291px #FFF , 660px 1604px #FFF , 169px 525px #FFF , 496px 137px #FFF , 573px 184px #FFF , 1744px 1496px #FFF , 1391px 220px #FFF , 1909px 1942px #FFF , 930px 168px #FFF , 736px 351px #FFF , 1299px 245px #FFF , 1662px 1641px #FFF , 1486px 1225px #FFF , 1147px 1848px #FFF , 499px 1736px #FFF , 214px 1737px #FFF , 1248px 1313px #FFF , 1901px 485px #FFF , 1909px 892px #FFF , 946px 1937px #FFF , 806px 41px #FFF , 1946px 1143px #FFF , 103px 518px #FFF , 1146px 287px #FFF , 1642px 1940px #FFF , 1812px 1858px #FFF , 714px 120px #FFF , 132px 1051px #FFF , 29px 1147px #FFF , 77px 2000px #FFF , 1819px 1559px #FFF , 268px 1448px #FFF , 1553px 1044px #FFF , 1448px 326px #FFF , 643px 1599px #FFF , 1263px 1253px #FFF , 992px 112px #FFF , 1437px 29px #FFF , 402px 234px #FFF , 741px 588px #FFF , 606px 171px #FFF , 1229px 1299px #FFF , 1486px 318px #FFF , 23px 495px #FFF , 576px 1697px #FFF , 108px 310px #FFF , 846px 242px #FFF , 1347px 1278px #FFF , 1295px 1375px #FFF , 270px 1106px #FFF , 192px 1382px #FFF , 1093px 1791px #FFF , 1406px 377px #FFF , 755px 152px #FFF , 613px 1387px #FFF , 1117px 832px #FFF , 1180px 1118px #FFF , 90px 977px #FFF , 432px 1816px #FFF , 1709px 1467px #FFF , 707px 1679px #FFF , 181px 1902px #FFF , 1053px 30px #FFF , 1924px 668px #FFF , 1905px 1257px #FFF , 1959px 751px #FFF , 1099px 1709px #FFF , 1056px 1293px #FFF , 1019px 1582px #FFF , 224px 1276px #FFF , 1819px 274px #FFF , 3px 860px #FFF , 1445px 375px #FFF , 1723px 1122px #FFF , 758px 1138px #FFF , 387px 74px #FFF , 1484px 1891px #FFF , 1360px 1938px #FFF , 1018px 1235px #FFF , 169px 774px #FFF , 504px 530px #FFF , 666px 977px #FFF , 795px 1848px #FFF , 1295px 1130px #FFF , 1268px 179px #FFF , 1307px 888px #FFF , 1966px 1905px #FFF , 134px 1479px #FFF , 679px 1876px #FFF , 640px 1864px #FFF , 1423px 845px #FFF , 1905px 1297px #FFF , 718px 752px #FFF , 996px 832px #FFF , 933px 257px #FFF , 1167px 950px #FFF , 1912px 704px #FFF , 1181px 1637px #FFF , 25px 526px #FFF , 1747px 1966px #FFF , 1238px 1395px #FFF , 630px 1790px #FFF , 1851px 1181px #FFF , 1089px 923px #FFF , 347px 389px #FFF , 1371px 1683px #FFF , 1690px 277px #FFF , 1570px 884px #FFF , 465px 1616px #FFF , 1996px 183px #FFF , 456px 1242px #FFF , 1976px 668px #FFF , 1051px 819px #FFF , 171px 396px #FFF , 525px 840px #FFF , 1807px 1713px #FFF , 29px 1414px #FFF , 1483px 491px #FFF , 1224px 882px #FFF , 1655px 1459px #FFF , 363px 1299px #FFF , 106px 1971px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 410px 664px #FFF , 1973px 1579px #FFF , 1616px 1593px #FFF , 827px 1729px #FFF , 3px 688px #FFF , 50px 1752px #FFF , 444px 918px #FFF , 887px 1649px #FFF , 1230px 1574px #FFF , 1598px 1824px #FFF , 2000px 1523px #FFF , 529px 1013px #FFF , 484px 678px #FFF , 417px 1272px #FFF , 1141px 646px #FFF , 444px 545px #FFF , 1697px 1585px #FFF , 1603px 833px #FFF , 748px 1824px #FFF , 1945px 1745px #FFF , 1767px 1046px #FFF , 1117px 1204px #FFF , 452px 757px #FFF , 599px 266px #FFF , 498px 897px #FFF , 1986px 1904px #FFF , 1857px 1260px #FFF , 1120px 1107px #FFF , 599px 1366px #FFF , 1697px 188px #FFF , 750px 1196px #FFF , 762px 856px #FFF , 1213px 489px #FFF , 942px 1791px #FFF , 1553px 662px #FFF , 1114px 1569px #FFF , 796px 14px #FFF , 303px 700px #FFF , 1573px 712px #FFF , 91px 1754px #FFF , 337px 1021px #FFF , 1490px 1507px #FFF , 1538px 657px #FFF , 1869px 512px #FFF , 1143px 405px #FFF , 1334px 1884px #FFF , 97px 1909px #FFF , 575px 1528px #FFF , 1913px 1552px #FFF , 1668px 1751px #FFF , 1704px 758px #FFF , 1386px 1893px #FFF , 1942px 1703px #FFF , 473px 1714px #FFF , 967px 910px #FFF , 1160px 26px #FFF , 665px 446px #FFF , 1677px 678px #FFF , 1676px 978px #FFF , 706px 650px #FFF , 441px 533px #FFF , 1074px 830px #FFF , 1820px 1917px #FFF , 932px 813px #FFF , 831px 297px #FFF , 377px 1310px #FFF , 1308px 1975px #FFF , 621px 427px #FFF , 1322px 607px #FFF , 1030px 90px #FFF , 1184px 1925px #FFF , 1091px 1781px #FFF , 1976px 1333px #FFF , 114px 1497px #FFF , 1980px 1361px #FFF , 1176px 1946px #FFF , 1185px 1360px #FFF , 428px 210px #FFF , 1006px 404px #FFF , 737px 147px #FFF , 1129px 917px #FFF , 581px 1077px #FFF , 70px 800px #FFF , 203px 1975px #FFF , 408px 1733px #FFF , 372px 1776px #FFF , 1062px 870px #FFF , 616px 1607px #FFF , 1518px 1932px #FFF , 1985px 2px #FFF , 1153px 345px #FFF , 1256px 631px #FFF , 1084px 131px #FFF , 1218px 66px #FFF , 1054px 1796px #FFF , 1185px 1846px #FFF , 1052px 1132px #FFF , 1837px 806px #FFF , 393px 1037px #FFF , 335px 313px #FFF , 558px 532px #FFF , 427px 1250px #FFF , 211px 450px #FFF , 1170px 754px #FFF , 840px 1754px #FFF , 288px 353px #FFF , 640px 682px #FFF , 369px 1704px #FFF , 1529px 1250px #FFF , 272px 516px #FFF , 226px 1586px #FFF , 657px 969px #FFF , 327px 19px #FFF , 394px 1504px #FFF , 1902px 1503px #FFF , 860px 483px #FFF , 939px 1166px #FFF , 96px 309px #FFF , 753px 44px #FFF , 1789px 1620px #FFF , 875px 1442px #FFF , 1818px 574px #FFF , 221px 1082px #FFF , 933px 1183px #FFF , 130px 1548px #FFF , 823px 507px #FFF , 1619px 233px #FFF , 26px 689px #FFF , 372px 1040px #FFF , 119px 1843px #FFF , 1105px 408px #FFF , 1378px 365px #FFF , 396px 1546px #FFF , 376px 1157px #FFF , 964px 1087px #FFF , 654px 1036px #FFF , 576px 864px #FFF , 448px 1504px #FFF , 835px 331px #FFF , 1526px 35px #FFF , 1413px 765px #FFF , 505px 756px #FFF , 70px 853px #FFF , 970px 207px #FFF , 171px 508px #FFF , 1106px 8px #FFF , 1365px 1553px #FFF , 1932px 1230px #FFF , 1284px 1781px #FFF , 1995px 1457px #FFF , 576px 1874px #FFF , 101px 442px #FFF , 855px 944px #FFF , 489px 1062px #FFF , 1773px 1143px #FFF , 1644px 1748px #FFF , 977px 18px #FFF , 1961px 924px #FFF , 1852px 290px #FFF , 628px 866px #FFF , 933px 441px #FFF , 1092px 985px #FFF , 1760px 1309px #FFF , 396px 677px #FFF , 620px 112px #FFF , 1052px 1167px #FFF , 322px 978px #FFF , 1516px 916px #FFF , 1987px 926px #FFF , 105px 271px #FFF , 238px 361px #FFF , 1791px 131px #FFF , 640px 157px #FFF , 800px 1400px #FFF , 1129px 1715px #FFF , 973px 1492px #FFF , 1601px 1056px #FFF , 1198px 11px #FFF , 172px 1924px #FFF , 1019px 938px #FFF , 66px 99px #FFF , 1751px 892px #FFF , 922px 571px #FFF , 1883px 1346px #FFF , 1260px 42px #FFF , 815px 1500px #FFF , 102px 696px #FFF , 1525px 802px #FFF , 1957px 1392px #FFF , 1580px 1753px #FFF , 1946px 32px #FFF , 912px 492px #FFF , 1263px 931px #FFF , 971px 1715px #FFF , 1930px 1113px #FFF , 1678px 1869px #FFF , 957px 635px #FFF , 1216px 960px #FFF , 527px 1530px #FFF , 1146px 1220px #FFF;
  animation: animStar 50s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 410px 664px #FFF , 1973px 1579px #FFF , 1616px 1593px #FFF , 827px 1729px #FFF , 3px 688px #FFF , 50px 1752px #FFF , 444px 918px #FFF , 887px 1649px #FFF , 1230px 1574px #FFF , 1598px 1824px #FFF , 2000px 1523px #FFF , 529px 1013px #FFF , 484px 678px #FFF , 417px 1272px #FFF , 1141px 646px #FFF , 444px 545px #FFF , 1697px 1585px #FFF , 1603px 833px #FFF , 748px 1824px #FFF , 1945px 1745px #FFF , 1767px 1046px #FFF , 1117px 1204px #FFF , 452px 757px #FFF , 599px 266px #FFF , 498px 897px #FFF , 1986px 1904px #FFF , 1857px 1260px #FFF , 1120px 1107px #FFF , 599px 1366px #FFF , 1697px 188px #FFF , 750px 1196px #FFF , 762px 856px #FFF , 1213px 489px #FFF , 942px 1791px #FFF , 1553px 662px #FFF , 1114px 1569px #FFF , 796px 14px #FFF , 303px 700px #FFF , 1573px 712px #FFF , 91px 1754px #FFF , 337px 1021px #FFF , 1490px 1507px #FFF , 1538px 657px #FFF , 1869px 512px #FFF , 1143px 405px #FFF , 1334px 1884px #FFF , 97px 1909px #FFF , 575px 1528px #FFF , 1913px 1552px #FFF , 1668px 1751px #FFF , 1704px 758px #FFF , 1386px 1893px #FFF , 1942px 1703px #FFF , 473px 1714px #FFF , 967px 910px #FFF , 1160px 26px #FFF , 665px 446px #FFF , 1677px 678px #FFF , 1676px 978px #FFF , 706px 650px #FFF , 441px 533px #FFF , 1074px 830px #FFF , 1820px 1917px #FFF , 932px 813px #FFF , 831px 297px #FFF , 377px 1310px #FFF , 1308px 1975px #FFF , 621px 427px #FFF , 1322px 607px #FFF , 1030px 90px #FFF , 1184px 1925px #FFF , 1091px 1781px #FFF , 1976px 1333px #FFF , 114px 1497px #FFF , 1980px 1361px #FFF , 1176px 1946px #FFF , 1185px 1360px #FFF , 428px 210px #FFF , 1006px 404px #FFF , 737px 147px #FFF , 1129px 917px #FFF , 581px 1077px #FFF , 70px 800px #FFF , 203px 1975px #FFF , 408px 1733px #FFF , 372px 1776px #FFF , 1062px 870px #FFF , 616px 1607px #FFF , 1518px 1932px #FFF , 1985px 2px #FFF , 1153px 345px #FFF , 1256px 631px #FFF , 1084px 131px #FFF , 1218px 66px #FFF , 1054px 1796px #FFF , 1185px 1846px #FFF , 1052px 1132px #FFF , 1837px 806px #FFF , 393px 1037px #FFF , 335px 313px #FFF , 558px 532px #FFF , 427px 1250px #FFF , 211px 450px #FFF , 1170px 754px #FFF , 840px 1754px #FFF , 288px 353px #FFF , 640px 682px #FFF , 369px 1704px #FFF , 1529px 1250px #FFF , 272px 516px #FFF , 226px 1586px #FFF , 657px 969px #FFF , 327px 19px #FFF , 394px 1504px #FFF , 1902px 1503px #FFF , 860px 483px #FFF , 939px 1166px #FFF , 96px 309px #FFF , 753px 44px #FFF , 1789px 1620px #FFF , 875px 1442px #FFF , 1818px 574px #FFF , 221px 1082px #FFF , 933px 1183px #FFF , 130px 1548px #FFF , 823px 507px #FFF , 1619px 233px #FFF , 26px 689px #FFF , 372px 1040px #FFF , 119px 1843px #FFF , 1105px 408px #FFF , 1378px 365px #FFF , 396px 1546px #FFF , 376px 1157px #FFF , 964px 1087px #FFF , 654px 1036px #FFF , 576px 864px #FFF , 448px 1504px #FFF , 835px 331px #FFF , 1526px 35px #FFF , 1413px 765px #FFF , 505px 756px #FFF , 70px 853px #FFF , 970px 207px #FFF , 171px 508px #FFF , 1106px 8px #FFF , 1365px 1553px #FFF , 1932px 1230px #FFF , 1284px 1781px #FFF , 1995px 1457px #FFF , 576px 1874px #FFF , 101px 442px #FFF , 855px 944px #FFF , 489px 1062px #FFF , 1773px 1143px #FFF , 1644px 1748px #FFF , 977px 18px #FFF , 1961px 924px #FFF , 1852px 290px #FFF , 628px 866px #FFF , 933px 441px #FFF , 1092px 985px #FFF , 1760px 1309px #FFF , 396px 677px #FFF , 620px 112px #FFF , 1052px 1167px #FFF , 322px 978px #FFF , 1516px 916px #FFF , 1987px 926px #FFF , 105px 271px #FFF , 238px 361px #FFF , 1791px 131px #FFF , 640px 157px #FFF , 800px 1400px #FFF , 1129px 1715px #FFF , 973px 1492px #FFF , 1601px 1056px #FFF , 1198px 11px #FFF , 172px 1924px #FFF , 1019px 938px #FFF , 66px 99px #FFF , 1751px 892px #FFF , 922px 571px #FFF , 1883px 1346px #FFF , 1260px 42px #FFF , 815px 1500px #FFF , 102px 696px #FFF , 1525px 802px #FFF , 1957px 1392px #FFF , 1580px 1753px #FFF , 1946px 32px #FFF , 912px 492px #FFF , 1263px 931px #FFF , 971px 1715px #FFF , 1930px 1113px #FFF , 1678px 1869px #FFF , 957px 635px #FFF , 1216px 960px #FFF , 527px 1530px #FFF , 1146px 1220px #FFF;
}

#stars3 {
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 541px 1479px #FFF , 14px 283px #FFF , 894px 1650px #FFF , 480px 272px #FFF , 721px 936px #FFF , 278px 126px #FFF , 975px 111px #FFF , 491px 849px #FFF , 423px 622px #FFF , 352px 1506px #FFF , 1410px 870px #FFF , 1899px 142px #FFF , 930px 1743px #FFF , 1117px 309px #FFF , 1883px 999px #FFF , 1657px 530px #FFF , 1038px 1078px #FFF , 273px 1192px #FFF , 1713px 568px #FFF , 1359px 820px #FFF , 331px 1079px #FFF , 574px 1858px #FFF , 899px 1529px #FFF , 1268px 1741px #FFF , 1702px 61px #FFF , 1566px 1409px #FFF , 1445px 128px #FFF , 707px 1195px #FFF , 154px 1076px #FFF , 297px 650px #FFF , 316px 738px #FFF , 598px 302px #FFF , 945px 1910px #FFF , 211px 1063px #FFF , 1554px 1606px #FFF , 1684px 1136px #FFF , 1870px 1700px #FFF , 1441px 1596px #FFF , 714px 1252px #FFF , 208px 1737px #FFF , 1564px 1489px #FFF , 1048px 1321px #FFF , 389px 248px #FFF , 1469px 758px #FFF , 866px 877px #FFF , 1693px 471px #FFF , 104px 1601px #FFF , 1739px 753px #FFF , 1355px 1448px #FFF , 1536px 1589px #FFF , 30px 162px #FFF , 1747px 1561px #FFF , 1202px 1607px #FFF , 1604px 1892px #FFF , 966px 1532px #FFF , 1142px 1599px #FFF , 480px 1105px #FFF , 652px 1562px #FFF , 1356px 1645px #FFF , 1959px 515px #FFF , 1004px 63px #FFF , 1331px 1275px #FFF , 751px 1969px #FFF , 320px 1615px #FFF , 1622px 562px #FFF , 349px 937px #FFF , 1325px 470px #FFF , 1468px 1201px #FFF , 147px 4px #FFF , 658px 1194px #FFF , 1437px 511px #FFF , 1251px 643px #FFF , 1272px 1145px #FFF , 536px 1640px #FFF , 1812px 526px #FFF , 1780px 111px #FFF , 1670px 1941px #FFF , 923px 1810px #FFF , 171px 660px #FFF , 375px 642px #FFF , 542px 1198px #FFF , 141px 1186px #FFF , 742px 15px #FFF , 1516px 1136px #FFF , 833px 1357px #FFF , 1222px 241px #FFF , 1968px 1547px #FFF , 1768px 1973px #FFF , 1790px 358px #FFF , 213px 791px #FFF , 146px 1887px #FFF , 1661px 741px #FFF , 414px 1865px #FFF , 1942px 1784px #FFF , 1321px 1591px #FFF , 1749px 712px #FFF , 1942px 1461px #FFF , 994px 269px #FFF , 1719px 361px #FFF , 421px 1368px #FFF;
  animation: animStar 100s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 541px 1479px #FFF , 14px 283px #FFF , 894px 1650px #FFF , 480px 272px #FFF , 721px 936px #FFF , 278px 126px #FFF , 975px 111px #FFF , 491px 849px #FFF , 423px 622px #FFF , 352px 1506px #FFF , 1410px 870px #FFF , 1899px 142px #FFF , 930px 1743px #FFF , 1117px 309px #FFF , 1883px 999px #FFF , 1657px 530px #FFF , 1038px 1078px #FFF , 273px 1192px #FFF , 1713px 568px #FFF , 1359px 820px #FFF , 331px 1079px #FFF , 574px 1858px #FFF , 899px 1529px #FFF , 1268px 1741px #FFF , 1702px 61px #FFF , 1566px 1409px #FFF , 1445px 128px #FFF , 707px 1195px #FFF , 154px 1076px #FFF , 297px 650px #FFF , 316px 738px #FFF , 598px 302px #FFF , 945px 1910px #FFF , 211px 1063px #FFF , 1554px 1606px #FFF , 1684px 1136px #FFF , 1870px 1700px #FFF , 1441px 1596px #FFF , 714px 1252px #FFF , 208px 1737px #FFF , 1564px 1489px #FFF , 1048px 1321px #FFF , 389px 248px #FFF , 1469px 758px #FFF , 866px 877px #FFF , 1693px 471px #FFF , 104px 1601px #FFF , 1739px 753px #FFF , 1355px 1448px #FFF , 1536px 1589px #FFF , 30px 162px #FFF , 1747px 1561px #FFF , 1202px 1607px #FFF , 1604px 1892px #FFF , 966px 1532px #FFF , 1142px 1599px #FFF , 480px 1105px #FFF , 652px 1562px #FFF , 1356px 1645px #FFF , 1959px 515px #FFF , 1004px 63px #FFF , 1331px 1275px #FFF , 751px 1969px #FFF , 320px 1615px #FFF , 1622px 562px #FFF , 349px 937px #FFF , 1325px 470px #FFF , 1468px 1201px #FFF , 147px 4px #FFF , 658px 1194px #FFF , 1437px 511px #FFF , 1251px 643px #FFF , 1272px 1145px #FFF , 536px 1640px #FFF , 1812px 526px #FFF , 1780px 111px #FFF , 1670px 1941px #FFF , 923px 1810px #FFF , 171px 660px #FFF , 375px 642px #FFF , 542px 1198px #FFF , 141px 1186px #FFF , 742px 15px #FFF , 1516px 1136px #FFF , 833px 1357px #FFF , 1222px 241px #FFF , 1968px 1547px #FFF , 1768px 1973px #FFF , 1790px 358px #FFF , 213px 791px #FFF , 146px 1887px #FFF , 1661px 741px #FFF , 414px 1865px #FFF , 1942px 1784px #FFF , 1321px 1591px #FFF , 1749px 712px #FFF , 1942px 1461px #FFF , 994px 269px #FFF , 1719px 361px #FFF , 421px 1368px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.additional {
  position: relative;
  z-index: 10;
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  .additional {
    width: 30vw;
    height: 100vh;
  }
}
.additional__video-container {
  width: 100%;
}
.additional__video {
  position: absolute;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  top: 0;
}
@media only screen and (min-width: 768px) {
  .additional__video {
    width: 30vw;
  }
}
.additional__container-text {
  z-index: 11;
  color: #C19875;
  font-family: "Cormorant Unicase", sans-serif;
  font-size: 1rem;
}
.additional__h2 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  padding-top: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .additional__h2 {
    font-size: 2.5rem;
  }
}

.skills {
  background-color: #01000A;
  z-index: 1000;
  height: 100vh;
  position: relative;
  transition: none;
  font-family: "Cormorant Unicase", sans-serif;
}
.skills__container {
  display: flex;
  align-items: center;
  width: 100vw;
  position: absolute;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  top: 2rem;
  height: 65%;
}
@media only screen and (min-width: 768px) {
  .skills__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Cormorant Unicase", sans-serif;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
.skills__h2 {
  color: #F8F3E2;
}
.skills__h2::before {
  background: #F8F3E2;
}
.skills__card {
  width: 8rem;
  height: 14rem;
  border-radius: 1rem;
  background: #F8F3E2;
  box-shadow: -5px 5px 10.7px 1px rgba(255, 255, 255, 0.6);
  text-align: center;
  transition: transform 0.5s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .skills__card {
    width: 12rem;
    height: 19rem;
  }
}
.skills__card:hover {
  transform: translateY(-10px) rotateX(-1deg) rotateY(2deg);
}
.skills__card-1 {
  transform: rotate(-17deg);
}
.skills__card-2 {
  margin-left: 1rem;
  transform: rotate(7deg);
}
@media only screen and (min-width: 768px) {
  .skills__card-2 {
    margin: 0;
  }
}
.skills__card-3 {
  transform: rotate(11deg);
}
.skills__card-4 {
  transform: rotate(-4deg);
}
.skills__svg {
  height: 100%;
}
.skills__circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.skills__circle::before {
  display: block;
  width: 22px;
  height: 10px;
  margin: 10px 5px 0 10px;
}
.skills__card-text {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
}
.skills__card-h2 {
  text-align: center;
  margin: 0;
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .skills__card-h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.skills__card-content {
  font-size: 0.8rem;
  padding: 0 0.8rem;
}
@media only screen and (min-width: 768px) {
  .skills__card-content {
    padding: 0 1rem;
  }
}
.skills__card-content-end {
  padding: 0 1.5rem;
}
@media only screen and (min-width: 768px) {
  .skills__card-content-end {
    padding: 0 2rem;
  }
}
.skills__card-techno {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .skills__card-techno {
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
  }
}
.skills__position-1 {
  height: 10%;
}
.skills__position-2 {
  height: 80%;
}
.skills__position-3 {
  height: 25%;
}
@media only screen and (min-width: 768px) {
  .skills__position-3 {
    height: 5%;
  }
}
.skills__position-4 {
  height: 50%;
}

.paper {
  --paper-dark: #e5c93d;
  --paper-color: #ffed87;
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 325px;
  min-height: 175px;
  background: linear-gradient(135deg, var(--paper-dark), 30%, var(--paper-color));
  box-shadow: 3px 3px 2px var(--paper-shadow);
  transform: rotate(10deg);
  transform-origin: top left;
}

.paper p {
  margin: auto;
}

.pin {
  --pin-color: #d02627;
  --pin-dark: #9e0608;
  --pin-light: #fc7e7d;
  position: absolute;
  left: 20px;
  width: 60px;
  height: 50px;
}

.shadow {
  position: absolute;
  top: 18px;
  left: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: radial-gradient(var(--paper-shadow), 20%, rgba(201, 191, 141, 0));
}

.metal {
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
  border-radius: 0 0 30% 30%;
  transform: rotate(50deg);
  transform-origin: bottom left;
  top: 15px;
  border-bottom: 1px solid #808080;
}

.bottom-circle {
  position: absolute;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--pin-color);
  background: radial-gradient(circle at bottom right, var(--pin-light), 25%, var(--pin-dark), 90%, var(--pin-color));
}

/* Barrel */
.bottom-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 20px;
  height: 30px;
  transform: rotate(55deg);
  transform-origin: 100% 100%;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(to right, var(--pin-dark), 30%, var(--pin-color), 90%, var(--pin-light));
}

/* Top circle */
.bottom-circle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(circle at right, var(--pin-light), 30%, var(--pin-color), var(--pin-dark) 80%);
}

/*# sourceMappingURL=main.css.map */
