@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
}

.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
}

html {
  cursor: url("/src/assets/video/cursorAnimate.gif"), auto;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 768px) {
  main {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    /* pour ie et mozilla */
    -ms-overlow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .main__container {
    display: flex;
    flex-direction: row;
    width: 530vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
}

img {
  width: 20rem;
}
@media only screen and (min-width: 768px) {
  img {
    width: 45rem;
  }
}

svg {
  width: 100%;
  height: 14rem;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  svg {
    width: 100%;
    height: 100%;
  }
}

.header {
  position: relative;
  z-index: 100;
}
.header__scroll-container {
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}
.header__scroll {
  background-color: rgba(8, 8, 8, 0.75);
  padding: 0.7rem;
  font-size: 1.3rem;
  border-radius: 2rem;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  color: #C19875;
  font-family: "Cormorant Unicase", serif;
  font-size: 1.3rem;
  width: 100vw;
  z-index: 2;
  cursor: url("../../assets/video/cursorAnimate.gif"), auto;
}
@media only screen and (min-width: 768px) {
  .header__container {
    font-size: 2.5rem;
  }
}
.header__container-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
@media only screen and (min-width: 768px) {
  .header__container-information {
    align-items: center;
    padding: 0 5rem;
  }
}
.header__container-subtitle {
  display: grid;
  font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .header__container-subtitle {
    font-size: 2rem;
  }
}
.header__container-social-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {
  .header__container-social-links {
    font-size: 2.5rem;
  }
}
.header__social-link {
  color: #C19875;
}
.header__subtitle {
  width: 20rem;
  font-family: "Cormorant Upright", serif;
}
.header__social-img {
  width: 2rem;
  margin: 1rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .header__social-img {
    width: 2.7rem;
  }
}
.header__wave {
  position: absolute;
  top: 2%;
  width: 100%;
}
.header__button-audio {
  width: 3rem;
  height: 3rem;
  right: 2%;
  z-index: 100;
  padding: 0.5rem;
  border-radius: 50%;
}
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .header__video {
    z-index: -1;
    background-color: black;
  }
}
.header__bar-top {
  top: 0;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 120px;
  background-color: black;
  z-index: 1;
  overflow: hidden;
  transition: height 1.5s ease-in-out;
}
.header__bar-top.visible {
  height: 0vh;
  transition: height 1.5s ease-in-out;
}
.header__bar-bottom {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 120px;
  background-color: black;
  z-index: 1;
  overflow: hidden;
  transition: height 1.5s ease-in-out;
}
.header__bar-bottom.visible {
  height: 0vh;
  transition: height 1.5s ease-in-out;
}
.header__title {
  text-align: center;
  padding: 0 3rem;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  padding-top: 2rem;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 2.5rem;
  }
}
.header__arrow {
  width: 2.5rem;
  rotate: 90deg;
}
@media only screen and (min-width: 768px) {
  .header__arrow {
    width: 3rem;
    rotate: 0deg;
  }
}
.header__button-audio {
  position: absolute;
}

.project {
  background: linear-gradient(#F7F3E3 0%, #F9E0B6 100%);
  height: 50vh;
  position: relative;
  z-index: 100;
}
@media only screen and (min-width: 768px) {
  .project {
    background: linear-gradient(90deg, #F7F3E3 0%, #F9E0B6 100%);
    height: 100vh;
  }
}
.project__container-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F3E3;
  transition: opacity 0.5s ease;
  opacity: 1;
  font-family: "Cormorant Unicase", sans-serif;
  color: #C19875;
}
@media only screen and (min-width: 768px) {
  .project__container-popup {
    height: 100vh;
  }
}
.project__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.project__container-background {
  position: absolute;
  width: 100vw;
  height: 70vh;
}
@media only screen and (min-width: 768px) {
  .project__container-background {
    height: 115vh;
  }
}
@media only screen and (min-width: 1024px) {
  .project__container-background {
    height: 120vh;
  }
}
@media only screen and (min-width: 1440px) {
  .project__container-background {
    height: 130vh;
  }
}
.project__sellotape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.5rem;
  height: 3rem;
  font-size: 0.4rem;
  background: rgba(0, 0, 0, 0.8509803922);
  color: white;
  transform: rotate(-39.964deg);
  text-align: center;
  font-family: "Cormorant Upright", serif;
  text-align: center;
  fill: rgba(0, 0, 0, 0.85);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width: 768px) {
  .project__sellotape {
    width: 17.5rem;
    height: 5.5rem;
    font-size: 1rem;
  }
}
.project__p {
  padding: 0 1rem;
  font-size: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .project__p {
    font-size: 1rem;
  }
}
.project__empty {
  color: transparent;
}
.project__container-img {
  display: grid;
  justify-content: center;
  z-index: 2;
}
.project__position-element {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .project__position-element {
    margin: 0 5rem;
  }
}
.project__background-img {
  width: 20rem;
}
.project__img-popup {
  width: 12rem;
}
@media only screen and (min-width: 768px) {
  .project__img-popup {
    width: 20rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__img-popup {
    width: 35%;
  }
}
@media only screen and (min-width: 1440px) {
  .project__img-popup {
    width: 35rem;
  }
}
@media only screen and (min-width: 1600px) {
  .project__img-popup {
    width: 45rem;
  }
}
.project__description {
  font-size: 0.8rem;
  max-width: 40%;
  font-weight: 600;
  font-style: italic;
  max-height: 8rem;
  overflow: auto;
}
@media only screen and (min-width: 768px) {
  .project__description {
    max-height: 15rem;
    font-size: 0.8rem;
    max-width: 25rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__description {
    font-size: 1.2rem;
    max-width: 30rem;
  }
}
@media only screen and (min-width: 1440px) {
  .project__description {
    font-size: 1.6rem;
    max-width: 35rem;
  }
}
.project__button-close {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 5rem;
  height: 5rem;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
}
.project__button-close:hover {
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .project__button-close {
    font-size: 3rem;
  }
}
.project__position-sellotape {
  width: 125%;
  display: flex;
  justify-content: flex-end;
  margin: -2rem;
}
@media only screen and (min-width: 768px) {
  .project__position-sellotape {
    margin: -4rem;
  }
}
@media only screen and (min-width: 1600px) {
  .project__position-sellotape {
    width: 118%;
  }
}
.project__img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 17rem;
  height: 11rem;
  cursor: pointer;
}
.project__img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}
@media only screen and (min-width: 768px) {
  .project__img {
    width: 30rem;
    height: 20rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__img {
    width: 45rem;
    height: 25rem;
  }
}
@media only screen and (min-width: 1600px) {
  .project__img {
    width: 60rem;
    height: 35rem;
  }
}
.project__h2 {
  color: #9A7752;
  font-family: Cormorant Unicase;
  font-size: 1.5rem;
  padding-left: 2rem;
}
.project__h2::before {
  content: " ";
  display: inline-block;
  width: 0.4rem;
  height: 0.8rem;
  background: #9A7752;
  margin-right: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .project__h2 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8rem;
  }
  .project__h2::before {
    width: 0.6rem;
    height: 1rem;
  }
}
.project__title {
  padding: 0;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
.project__title::before {
  content: none;
}
@media only screen and (min-width: 768px) {
  .project__title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .project__title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1440px) {
  .project__title {
    font-size: 3.5rem;
  }
}
.project__container-svg {
  position: absolute;
  height: 50vh;
  width: 100vw;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media only screen and (min-width: 768px) {
  .project__container-svg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    justify-items: center;
  }
}
.project__sellotape-popup {
  transform: rotate(0deg);
}
.project__link {
  padding: 0 1rem;
  color: white;
}

.projectTwo {
  background: linear-gradient(0deg, #F9AF4E 0%, #F9E0B7 100%);
  position: relative;
  z-index: 100;
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  .projectTwo {
    background: linear-gradient(270deg, #F9AF4E 0%, #F9E0B7 100%);
    height: 100vh;
  }
}

.projectThree {
  background: linear-gradient(0deg, #D85531 0%, #F9AF4E 100%);
  height: 50vh;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .projectThree {
    background: linear-gradient(270deg, #D85531 0%, #F9AF4E 100%);
    height: 100vh;
  }
}
.projectThree__container-stars {
  position: absolute;
  width: 100vw;
  height: 50vh;
  z-index: 1;
}

#stars, #stars2, #stars3 {
  width: 1.5px;
  height: 1.5px;
  background: transparent;
  animation: animStar 20s linear infinite;
}
#stars:after, #stars2:after, #stars3:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1643px 647px #FFF , 1407px 1699px #FFF , 817px 772px #FFF , 32px 1977px #FFF , 1373px 493px #FFF , 279px 1814px #FFF , 347px 1337px #FFF , 1978px 1406px #FFF , 8px 803px #FFF , 1774px 1316px #FFF , 609px 686px #FFF , 443px 385px #FFF , 809px 519px #FFF , 1562px 1580px #FFF , 1556px 1031px #FFF , 87px 427px #FFF , 1126px 1105px #FFF , 95px 254px #FFF , 1189px 1686px #FFF , 842px 641px #FFF , 98px 199px #FFF , 1644px 1139px #FFF , 63px 1523px #FFF , 464px 938px #FFF , 1132px 471px #FFF , 842px 302px #FFF , 65px 326px #FFF , 1269px 2px #FFF , 463px 1657px #FFF , 1477px 1577px #FFF , 850px 207px #FFF , 1724px 495px #FFF , 861px 881px #FFF , 1677px 806px #FFF , 322px 1436px #FFF , 560px 1933px #FFF , 942px 1390px #FFF , 739px 645px #FFF , 1198px 261px #FFF , 488px 1388px #FFF , 746px 444px #FFF , 1978px 976px #FFF , 1890px 831px #FFF , 947px 1685px #FFF , 388px 625px #FFF , 657px 1761px #FFF , 356px 1852px #FFF , 1034px 1441px #FFF , 213px 1521px #FFF , 1059px 1049px #FFF , 169px 1111px #FFF , 1178px 477px #FFF , 1979px 1202px #FFF , 657px 1747px #FFF , 233px 1120px #FFF , 734px 295px #FFF , 806px 1378px #FFF , 625px 1673px #FFF , 607px 1337px #FFF , 894px 1291px #FFF , 1198px 1012px #FFF , 265px 254px #FFF , 1905px 984px #FFF , 1267px 637px #FFF , 241px 978px #FFF , 1235px 1373px #FFF , 579px 1082px #FFF , 1856px 1922px #FFF , 977px 855px #FFF , 1557px 715px #FFF , 1266px 111px #FFF , 1302px 796px #FFF , 1153px 220px #FFF , 174px 736px #FFF , 41px 1235px #FFF , 1135px 1308px #FFF , 603px 107px #FFF , 343px 1709px #FFF , 136px 365px #FFF , 1254px 899px #FFF , 1111px 122px #FFF , 1830px 1666px #FFF , 1096px 835px #FFF , 839px 1061px #FFF , 1908px 1842px #FFF , 1124px 428px #FFF , 899px 1589px #FFF , 1295px 1965px #FFF , 712px 1674px #FFF , 1787px 1532px #FFF , 780px 1414px #FFF , 170px 1983px #FFF , 1385px 269px #FFF , 1956px 1197px #FFF , 1145px 510px #FFF , 254px 940px #FFF , 295px 151px #FFF , 1771px 651px #FFF , 1282px 1127px #FFF , 1838px 63px #FFF , 107px 1583px #FFF , 138px 753px #FFF , 805px 903px #FFF , 668px 282px #FFF , 1756px 1643px #FFF , 266px 640px #FFF , 882px 1612px #FFF , 1977px 1413px #FFF , 1204px 2px #FFF , 1360px 727px #FFF , 1103px 1457px #FFF , 87px 484px #FFF , 1456px 249px #FFF , 1737px 970px #FFF , 853px 16px #FFF , 1710px 533px #FFF , 1409px 1397px #FFF , 776px 520px #FFF , 829px 416px #FFF , 1229px 1811px #FFF , 788px 569px #FFF , 145px 344px #FFF , 1944px 1807px #FFF , 1113px 1043px #FFF , 1242px 1951px #FFF , 1574px 11px #FFF , 475px 182px #FFF , 1398px 397px #FFF , 1582px 1273px #FFF , 1969px 404px #FFF , 1928px 511px #FFF , 436px 1981px #FFF , 974px 1723px #FFF , 919px 227px #FFF , 1424px 952px #FFF , 1509px 450px #FFF , 1549px 1836px #FFF , 574px 470px #FFF , 891px 1630px #FFF , 1666px 1989px #FFF , 1088px 992px #FFF , 42px 335px #FFF , 1089px 655px #FFF , 707px 1855px #FFF , 1978px 601px #FFF , 1733px 1629px #FFF , 308px 205px #FFF , 1302px 1302px #FFF , 816px 108px #FFF , 1074px 1837px #FFF , 1717px 1356px #FFF , 67px 312px #FFF , 1443px 1419px #FFF , 1914px 404px #FFF , 1679px 555px #FFF , 337px 413px #FFF , 625px 747px #FFF , 1709px 1328px #FFF , 277px 489px #FFF , 353px 1046px #FFF , 635px 1352px #FFF , 1011px 1686px #FFF , 1718px 1143px #FFF , 1651px 1127px #FFF , 1685px 850px #FFF , 1497px 1197px #FFF , 972px 116px #FFF , 1522px 1240px #FFF , 1221px 1288px #FFF , 1152px 1368px #FFF , 748px 329px #FFF , 1106px 1165px #FFF , 841px 528px #FFF , 1117px 539px #FFF , 922px 609px #FFF , 942px 1479px #FFF , 1425px 435px #FFF , 566px 1089px #FFF , 1237px 1323px #FFF , 1520px 251px #FFF , 327px 665px #FFF , 1604px 1301px #FFF , 691px 1162px #FFF , 995px 759px #FFF , 1581px 1277px #FFF , 1345px 492px #FFF , 1978px 1993px #FFF , 1429px 1783px #FFF , 281px 1221px #FFF , 654px 380px #FFF , 1587px 558px #FFF , 1578px 1026px #FFF , 1212px 1206px #FFF , 162px 954px #FFF , 549px 1185px #FFF , 1497px 601px #FFF , 939px 1138px #FFF , 1324px 1541px #FFF , 1089px 1562px #FFF , 656px 96px #FFF , 940px 1097px #FFF , 1402px 1583px #FFF , 893px 1749px #FFF , 1409px 1084px #FFF , 163px 168px #FFF , 1937px 1402px #FFF , 1731px 972px #FFF , 1213px 1303px #FFF , 898px 773px #FFF , 390px 577px #FFF , 123px 111px #FFF , 418px 763px #FFF , 448px 1608px #FFF , 333px 794px #FFF , 592px 1280px #FFF , 77px 1291px #FFF , 1744px 1956px #FFF , 393px 1129px #FFF , 705px 1929px #FFF , 1062px 1232px #FFF , 1952px 1128px #FFF , 1250px 1364px #FFF , 833px 228px #FFF , 407px 529px #FFF , 202px 1943px #FFF , 1967px 1721px #FFF , 1946px 1614px #FFF , 1107px 1539px #FFF , 539px 1505px #FFF , 1868px 782px #FFF , 848px 655px #FFF , 1168px 1728px #FFF , 1483px 311px #FFF , 438px 31px #FFF , 545px 1604px #FFF , 286px 1380px #FFF , 1781px 1477px #FFF , 1490px 71px #FFF , 761px 1263px #FFF , 141px 809px #FFF , 639px 909px #FFF , 1457px 419px #FFF , 1432px 1689px #FFF , 1561px 688px #FFF , 1746px 13px #FFF , 1767px 1342px #FFF , 1397px 1354px #FFF , 1359px 1305px #FFF , 265px 1832px #FFF , 1722px 540px #FFF , 114px 1709px #FFF , 978px 750px #FFF , 993px 1180px #FFF , 554px 1482px #FFF , 1096px 1814px #FFF , 1968px 1341px #FFF , 670px 600px #FFF , 1066px 87px #FFF , 830px 1722px #FFF , 1123px 1145px #FFF , 437px 666px #FFF , 79px 92px #FFF , 1753px 284px #FFF , 1037px 1907px #FFF , 146px 1088px #FFF , 750px 683px #FFF , 416px 222px #FFF , 1573px 537px #FFF , 741px 1669px #FFF , 1305px 1900px #FFF , 75px 1379px #FFF , 498px 161px #FFF , 1374px 1315px #FFF , 618px 938px #FFF , 347px 19px #FFF , 448px 830px #FFF , 1438px 1944px #FFF , 1916px 529px #FFF , 330px 299px #FFF , 1677px 1793px #FFF , 832px 1015px #FFF , 1063px 367px #FFF , 1997px 335px #FFF , 1628px 769px #FFF , 29px 492px #FFF , 1402px 1391px #FFF , 1618px 202px #FFF , 406px 73px #FFF , 102px 1350px #FFF , 1685px 440px #FFF , 1264px 183px #FFF , 300px 547px #FFF , 916px 257px #FFF , 922px 1425px #FFF , 129px 1437px #FFF , 957px 473px #FFF , 765px 473px #FFF , 684px 650px #FFF , 1918px 1511px #FFF , 618px 1702px #FFF , 1787px 323px #FFF , 1341px 179px #FFF , 495px 365px #FFF , 340px 16px #FFF , 1028px 1625px #FFF , 1261px 1514px #FFF , 592px 2000px #FFF , 780px 1989px #FFF , 2px 1778px #FFF , 33px 776px #FFF , 881px 636px #FFF , 1484px 501px #FFF , 438px 736px #FFF , 1656px 411px #FFF , 1911px 187px #FFF , 215px 1725px #FFF , 1813px 1723px #FFF , 1791px 1250px #FFF , 1805px 1795px #FFF , 1263px 986px #FFF , 1561px 647px #FFF , 834px 372px #FFF , 1817px 1600px #FFF , 490px 1564px #FFF , 555px 989px #FFF , 916px 1585px #FFF , 583px 1037px #FFF , 1460px 1243px #FFF , 1101px 139px #FFF , 635px 1675px #FFF , 181px 936px #FFF , 145px 1477px #FFF , 1314px 5px #FFF , 464px 299px #FFF , 1833px 1046px #FFF , 570px 677px #FFF , 1912px 1985px #FFF , 1623px 1031px #FFF , 779px 610px #FFF , 451px 605px #FFF , 280px 1299px #FFF , 1699px 1712px #FFF , 1046px 1246px #FFF , 1893px 1986px #FFF , 200px 592px #FFF , 1188px 1280px #FFF , 699px 1426px #FFF , 11px 1225px #FFF , 703px 1579px #FFF , 69px 1672px #FFF , 473px 805px #FFF , 1971px 187px #FFF , 795px 1613px #FFF , 1633px 690px #FFF , 809px 160px #FFF , 73px 1851px #FFF , 536px 415px #FFF , 1475px 503px #FFF , 1911px 11px #FFF , 13px 422px #FFF , 1511px 542px #FFF , 1016px 1408px #FFF , 1167px 1604px #FFF , 1766px 263px #FFF , 795px 1185px #FFF , 205px 1861px #FFF , 130px 1882px #FFF , 1691px 1090px #FFF , 273px 1300px #FFF , 1701px 1809px #FFF , 629px 708px #FFF , 1334px 685px #FFF , 1751px 126px #FFF , 1492px 455px #FFF , 1485px 176px #FFF , 85px 924px #FFF , 1282px 1350px #FFF , 656px 1618px #FFF , 1923px 91px #FFF , 569px 46px #FFF , 1398px 513px #FFF , 729px 1780px #FFF , 978px 1482px #FFF , 665px 1817px #FFF , 740px 1982px #FFF , 1494px 1684px #FFF , 998px 188px #FFF , 1963px 1654px #FFF , 396px 107px #FFF , 13px 1893px #FFF , 229px 1180px #FFF , 517px 184px #FFF , 636px 557px #FFF , 1642px 1474px #FFF , 1767px 649px #FFF , 364px 1021px #FFF , 830px 172px #FFF , 279px 397px #FFF , 501px 19px #FFF , 1648px 1399px #FFF , 1652px 722px #FFF , 1488px 360px #FFF , 1056px 1275px #FFF , 947px 449px #FFF , 1353px 1291px #FFF , 1908px 1896px #FFF , 1047px 122px #FFF , 436px 1952px #FFF , 1669px 390px #FFF , 211px 1912px #FFF , 1590px 1706px #FFF , 1011px 23px #FFF , 779px 387px #FFF , 110px 910px #FFF , 451px 388px #FFF , 802px 1541px #FFF , 481px 1128px #FFF , 1987px 259px #FFF , 191px 1087px #FFF , 447px 915px #FFF , 701px 247px #FFF , 1901px 1881px #FFF , 1716px 752px #FFF , 1134px 1242px #FFF , 592px 1471px #FFF , 1210px 897px #FFF , 177px 317px #FFF , 533px 1291px #FFF , 759px 1136px #FFF , 1308px 1075px #FFF , 948px 601px #FFF , 102px 637px #FFF , 1317px 1986px #FFF , 1753px 446px #FFF , 651px 855px #FFF , 153px 129px #FFF , 1628px 439px #FFF , 178px 1355px #FFF , 476px 307px #FFF , 320px 1137px #FFF , 1393px 1754px #FFF , 1410px 920px #FFF , 516px 1239px #FFF , 111px 518px #FFF , 1216px 809px #FFF , 455px 2000px #FFF , 337px 240px #FFF , 1535px 1033px #FFF , 836px 1280px #FFF , 1879px 1019px #FFF , 188px 423px #FFF , 94px 515px #FFF , 326px 1357px #FFF , 811px 612px #FFF , 1271px 98px #FFF , 1659px 1273px #FFF , 1479px 525px #FFF , 381px 329px #FFF , 4px 1055px #FFF , 47px 454px #FFF , 1254px 1864px #FFF , 1116px 517px #FFF , 1033px 1053px #FFF , 1879px 1332px #FFF , 891px 120px #FFF , 948px 1294px #FFF , 537px 1604px #FFF , 1739px 1188px #FFF , 1374px 1466px #FFF , 577px 1545px #FFF , 857px 357px #FFF , 1499px 1009px #FFF , 1547px 1693px #FFF , 1284px 259px #FFF , 1208px 1139px #FFF , 1497px 1977px #FFF , 677px 292px #FFF , 666px 521px #FFF , 558px 1002px #FFF , 461px 452px #FFF , 1890px 864px #FFF , 1393px 714px #FFF , 1045px 1130px #FFF , 1492px 851px #FFF , 1574px 1787px #FFF , 541px 1020px #FFF , 1821px 524px #FFF , 1205px 789px #FFF , 964px 179px #FFF , 1117px 975px #FFF , 1181px 855px #FFF , 1541px 977px #FFF , 1633px 1734px #FFF , 1697px 1620px #FFF , 885px 1918px #FFF , 1055px 772px #FFF , 1000px 1781px #FFF , 653px 1595px #FFF , 814px 42px #FFF , 783px 1239px #FFF , 1101px 1756px #FFF , 118px 220px #FFF , 155px 1938px #FFF , 1066px 446px #FFF , 1541px 770px #FFF , 1967px 1019px #FFF , 486px 1322px #FFF , 102px 1312px #FFF , 1212px 1524px #FFF , 1058px 1059px #FFF , 139px 729px #FFF , 1474px 1698px #FFF , 1516px 1129px #FFF , 199px 1723px #FFF , 1803px 1953px #FFF , 1471px 579px #FFF , 131px 787px #FFF , 968px 1997px #FFF , 932px 93px #FFF , 270px 1405px #FFF , 74px 821px #FFF , 1143px 1350px #FFF , 1504px 683px #FFF , 656px 1831px #FFF , 1441px 1113px #FFF , 1286px 1577px #FFF , 169px 1243px #FFF , 527px 816px #FFF , 547px 494px #FFF , 793px 1019px #FFF , 1895px 333px #FFF , 1389px 1671px #FFF , 1501px 984px #FFF , 993px 157px #FFF , 1007px 953px #FFF , 1509px 174px #FFF , 1788px 520px #FFF , 1319px 382px #FFF , 1044px 1756px #FFF , 1882px 1452px #FFF , 1876px 1315px #FFF , 369px 229px #FFF , 1054px 1705px #FFF , 1789px 811px #FFF , 1096px 1322px #FFF , 952px 954px #FFF , 520px 1049px #FFF , 1076px 1325px #FFF , 1165px 1448px #FFF , 1902px 579px #FFF , 1666px 1946px #FFF , 907px 984px #FFF , 928px 766px #FFF , 1316px 1299px #FFF , 772px 1834px #FFF , 1711px 605px #FFF , 1124px 1795px #FFF , 1702px 1346px #FFF , 1695px 414px #FFF , 1711px 605px #FFF , 823px 937px #FFF , 1512px 619px #FFF , 1880px 453px #FFF , 1839px 1974px #FFF , 1085px 557px #FFF , 204px 1591px #FFF , 1137px 688px #FFF , 1940px 1570px #FFF , 1868px 1351px #FFF , 1126px 1012px #FFF , 1924px 1624px #FFF , 604px 374px #FFF , 1828px 1122px #FFF , 121px 18px #FFF , 566px 1692px #FFF , 1199px 950px #FFF , 296px 1126px #FFF , 1412px 727px #FFF , 1636px 1937px #FFF , 582px 1989px #FFF , 1725px 1891px #FFF , 1985px 1572px #FFF , 1319px 697px #FFF , 1179px 222px #FFF , 1365px 519px #FFF , 1210px 1335px #FFF , 268px 1667px #FFF , 1914px 1675px #FFF , 1934px 1674px #FFF , 674px 1367px #FFF , 460px 223px #FFF , 1552px 512px #FFF , 1133px 1800px #FFF , 1548px 422px #FFF , 1550px 435px #FFF , 1625px 1086px #FFF , 89px 1626px #FFF , 1838px 805px #FFF , 1928px 831px #FFF , 704px 1117px #FFF , 447px 437px #FFF , 147px 509px #FFF , 50px 1670px #FFF , 621px 944px #FFF , 797px 1342px #FFF , 169px 696px #FFF , 797px 164px #FFF , 422px 1817px #FFF , 1027px 478px #FFF , 1582px 1728px #FFF , 986px 225px #FFF , 1151px 248px #FFF , 1353px 536px #FFF , 1452px 37px #FFF , 1337px 1813px #FFF , 425px 898px #FFF , 982px 986px #FFF , 161px 1017px #FFF , 1702px 1466px #FFF , 1100px 1291px #FFF , 1421px 132px #FFF , 1224px 739px #FFF , 1872px 1827px #FFF , 1899px 503px #FFF , 1230px 1502px #FFF , 1911px 308px #FFF , 1387px 751px #FFF , 1412px 1570px #FFF , 925px 940px #FFF , 591px 906px #FFF , 1973px 781px #FFF , 845px 1577px #FFF , 1110px 1091px #FFF , 1186px 828px #FFF , 324px 424px #FFF , 1422px 1406px #FFF , 765px 618px #FFF , 821px 1261px #FFF , 256px 1251px #FFF , 1741px 1420px #FFF , 414px 1242px #FFF , 536px 1544px #FFF , 1272px 1663px #FFF , 228px 85px #FFF , 1026px 1710px #FFF , 132px 1198px #FFF , 1790px 176px #FFF , 1100px 629px #FFF , 772px 56px #FFF , 165px 1797px #FFF , 1811px 442px #FFF , 1597px 626px #FFF , 1518px 1526px #FFF , 1481px 388px #FFF , 929px 508px #FFF , 1734px 577px #FFF , 1161px 310px #FFF , 1811px 982px #FFF , 831px 837px #FFF , 1049px 1289px #FFF , 371px 446px #FFF , 1489px 1802px #FFF , 1739px 604px #FFF , 306px 1980px #FFF , 829px 464px #FFF , 536px 1406px #FFF , 714px 1097px #FFF , 78px 1722px #FFF , 1669px 549px #FFF , 221px 1688px #FFF , 1558px 1494px #FFF , 444px 437px #FFF , 1895px 679px #FFF , 2000px 1736px #FFF , 972px 954px #FFF , 208px 502px #FFF , 687px 830px #FFF , 734px 866px #FFF , 494px 1477px #FFF , 935px 731px #FFF , 965px 700px #FFF , 1483px 960px #FFF , 1628px 1951px #FFF , 1584px 1759px #FFF , 1883px 1331px #FFF , 394px 1261px #FFF , 392px 914px #FFF , 1607px 299px #FFF , 403px 644px #FFF , 1819px 1411px #FFF , 151px 1577px #FFF , 389px 1481px #FFF , 560px 962px #FFF , 1612px 527px #FFF , 1385px 1964px #FFF , 1507px 1332px #FFF , 1078px 616px #FFF , 1766px 47px #FFF , 560px 1100px #FFF , 1953px 1769px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 469px 1159px #FFF , 1585px 1816px #FFF , 1856px 1831px #FFF , 259px 89px #FFF , 1744px 899px #FFF , 1422px 13px #FFF , 685px 1765px #FFF , 825px 94px #FFF , 632px 1385px #FFF , 899px 291px #FFF , 1496px 1615px #FFF , 1030px 870px #FFF , 320px 527px #FFF , 1058px 500px #FFF , 1770px 147px #FFF , 1358px 78px #FFF , 432px 1804px #FFF , 960px 153px #FFF , 472px 65px #FFF , 1147px 643px #FFF , 1240px 1201px #FFF , 198px 796px #FFF , 1331px 1642px #FFF , 1478px 44px #FFF , 1915px 59px #FFF , 512px 1839px #FFF , 727px 1311px #FFF , 1642px 1349px #FFF , 538px 1095px #FFF , 1699px 249px #FFF , 588px 645px #FFF , 894px 1969px #FFF , 131px 215px #FFF , 416px 1885px #FFF , 1221px 1923px #FFF , 528px 598px #FFF , 262px 1350px #FFF , 1471px 472px #FFF , 1446px 1916px #FFF , 672px 1411px #FFF , 1887px 1278px #FFF , 917px 1953px #FFF , 938px 154px #FFF , 205px 888px #FFF , 1752px 1347px #FFF , 1395px 767px #FFF , 1485px 491px #FFF , 8px 816px #FFF , 507px 133px #FFF , 52px 1679px #FFF , 736px 862px #FFF , 1275px 1276px #FFF , 999px 199px #FFF , 1255px 1979px #FFF , 281px 1793px #FFF , 248px 1498px #FFF , 1753px 1595px #FFF , 1104px 1414px #FFF , 1405px 949px #FFF , 851px 1364px #FFF , 257px 76px #FFF , 1848px 1601px #FFF , 1437px 1422px #FFF , 220px 1231px #FFF , 1094px 446px #FFF , 704px 969px #FFF , 302px 1294px #FFF , 59px 819px #FFF , 1062px 226px #FFF , 351px 1322px #FFF , 29px 1402px #FFF , 1035px 210px #FFF , 1899px 1347px #FFF , 807px 40px #FFF , 1967px 84px #FFF , 211px 359px #FFF , 1120px 1154px #FFF , 1861px 375px #FFF , 1327px 780px #FFF , 1825px 1572px #FFF , 686px 173px #FFF , 77px 51px #FFF , 311px 633px #FFF , 176px 300px #FFF , 1086px 280px #FFF , 961px 1700px #FFF , 777px 876px #FFF , 142px 1367px #FFF , 1163px 1259px #FFF , 582px 1615px #FFF , 1151px 1304px #FFF , 230px 1356px #FFF , 150px 1402px #FFF , 149px 46px #FFF , 1475px 164px #FFF , 615px 241px #FFF , 574px 1658px #FFF , 801px 1683px #FFF , 1497px 938px #FFF , 1203px 412px #FFF , 159px 581px #FFF , 1097px 1524px #FFF , 1577px 1292px #FFF , 243px 403px #FFF , 924px 137px #FFF , 1957px 1439px #FFF , 239px 339px #FFF , 1667px 1224px #FFF , 322px 192px #FFF , 133px 1899px #FFF , 1122px 1734px #FFF , 181px 410px #FFF , 1326px 1772px #FFF , 843px 1184px #FFF , 1684px 223px #FFF , 1613px 1240px #FFF , 1540px 906px #FFF , 1030px 1050px #FFF , 1619px 837px #FFF , 1788px 1806px #FFF , 1632px 1676px #FFF , 1714px 615px #FFF , 745px 386px #FFF , 1184px 935px #FFF , 1875px 1131px #FFF , 114px 437px #FFF , 940px 1892px #FFF , 851px 1839px #FFF , 164px 184px #FFF , 64px 823px #FFF , 938px 1318px #FFF , 1235px 1528px #FFF , 587px 419px #FFF , 1567px 238px #FFF , 852px 790px #FFF , 899px 1740px #FFF , 1604px 1445px #FFF , 1579px 1096px #FFF , 1533px 534px #FFF , 344px 179px #FFF , 1193px 441px #FFF , 1695px 1855px #FFF , 877px 1682px #FFF , 323px 746px #FFF , 383px 1297px #FFF , 1474px 1289px #FFF , 77px 496px #FFF , 663px 148px #FFF , 635px 1003px #FFF , 1151px 1189px #FFF , 1892px 599px #FFF , 489px 432px #FFF , 115px 727px #FFF , 621px 204px #FFF , 623px 70px #FFF , 353px 978px #FFF , 1452px 45px #FFF , 922px 1438px #FFF , 1841px 1932px #FFF , 917px 210px #FFF , 1569px 50px #FFF , 1077px 1947px #FFF , 450px 644px #FFF , 1386px 1305px #FFF , 605px 1188px #FFF , 387px 1226px #FFF , 1696px 1224px #FFF , 305px 1146px #FFF , 48px 128px #FFF , 383px 1863px #FFF , 616px 488px #FFF , 1678px 427px #FFF , 466px 1704px #FFF , 83px 1776px #FFF , 1470px 1063px #FFF , 1628px 1935px #FFF , 276px 1315px #FFF , 393px 1801px #FFF , 1166px 1685px #FFF , 603px 253px #FFF , 1479px 7px #FFF , 1600px 1673px #FFF , 602px 1141px #FFF , 447px 567px #FFF , 565px 164px #FFF , 1215px 732px #FFF , 1350px 585px #FFF , 154px 800px #FFF , 1142px 13px #FFF , 205px 1329px #FFF , 1501px 1936px #FFF , 711px 134px #FFF , 1422px 1405px #FFF , 1161px 857px #FFF , 1083px 1497px #FFF , 411px 1882px #FFF , 589px 508px #FFF , 928px 1859px #FFF , 1340px 426px #FFF , 1024px 1700px #FFF;
  animation: animStar 50s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 469px 1159px #FFF , 1585px 1816px #FFF , 1856px 1831px #FFF , 259px 89px #FFF , 1744px 899px #FFF , 1422px 13px #FFF , 685px 1765px #FFF , 825px 94px #FFF , 632px 1385px #FFF , 899px 291px #FFF , 1496px 1615px #FFF , 1030px 870px #FFF , 320px 527px #FFF , 1058px 500px #FFF , 1770px 147px #FFF , 1358px 78px #FFF , 432px 1804px #FFF , 960px 153px #FFF , 472px 65px #FFF , 1147px 643px #FFF , 1240px 1201px #FFF , 198px 796px #FFF , 1331px 1642px #FFF , 1478px 44px #FFF , 1915px 59px #FFF , 512px 1839px #FFF , 727px 1311px #FFF , 1642px 1349px #FFF , 538px 1095px #FFF , 1699px 249px #FFF , 588px 645px #FFF , 894px 1969px #FFF , 131px 215px #FFF , 416px 1885px #FFF , 1221px 1923px #FFF , 528px 598px #FFF , 262px 1350px #FFF , 1471px 472px #FFF , 1446px 1916px #FFF , 672px 1411px #FFF , 1887px 1278px #FFF , 917px 1953px #FFF , 938px 154px #FFF , 205px 888px #FFF , 1752px 1347px #FFF , 1395px 767px #FFF , 1485px 491px #FFF , 8px 816px #FFF , 507px 133px #FFF , 52px 1679px #FFF , 736px 862px #FFF , 1275px 1276px #FFF , 999px 199px #FFF , 1255px 1979px #FFF , 281px 1793px #FFF , 248px 1498px #FFF , 1753px 1595px #FFF , 1104px 1414px #FFF , 1405px 949px #FFF , 851px 1364px #FFF , 257px 76px #FFF , 1848px 1601px #FFF , 1437px 1422px #FFF , 220px 1231px #FFF , 1094px 446px #FFF , 704px 969px #FFF , 302px 1294px #FFF , 59px 819px #FFF , 1062px 226px #FFF , 351px 1322px #FFF , 29px 1402px #FFF , 1035px 210px #FFF , 1899px 1347px #FFF , 807px 40px #FFF , 1967px 84px #FFF , 211px 359px #FFF , 1120px 1154px #FFF , 1861px 375px #FFF , 1327px 780px #FFF , 1825px 1572px #FFF , 686px 173px #FFF , 77px 51px #FFF , 311px 633px #FFF , 176px 300px #FFF , 1086px 280px #FFF , 961px 1700px #FFF , 777px 876px #FFF , 142px 1367px #FFF , 1163px 1259px #FFF , 582px 1615px #FFF , 1151px 1304px #FFF , 230px 1356px #FFF , 150px 1402px #FFF , 149px 46px #FFF , 1475px 164px #FFF , 615px 241px #FFF , 574px 1658px #FFF , 801px 1683px #FFF , 1497px 938px #FFF , 1203px 412px #FFF , 159px 581px #FFF , 1097px 1524px #FFF , 1577px 1292px #FFF , 243px 403px #FFF , 924px 137px #FFF , 1957px 1439px #FFF , 239px 339px #FFF , 1667px 1224px #FFF , 322px 192px #FFF , 133px 1899px #FFF , 1122px 1734px #FFF , 181px 410px #FFF , 1326px 1772px #FFF , 843px 1184px #FFF , 1684px 223px #FFF , 1613px 1240px #FFF , 1540px 906px #FFF , 1030px 1050px #FFF , 1619px 837px #FFF , 1788px 1806px #FFF , 1632px 1676px #FFF , 1714px 615px #FFF , 745px 386px #FFF , 1184px 935px #FFF , 1875px 1131px #FFF , 114px 437px #FFF , 940px 1892px #FFF , 851px 1839px #FFF , 164px 184px #FFF , 64px 823px #FFF , 938px 1318px #FFF , 1235px 1528px #FFF , 587px 419px #FFF , 1567px 238px #FFF , 852px 790px #FFF , 899px 1740px #FFF , 1604px 1445px #FFF , 1579px 1096px #FFF , 1533px 534px #FFF , 344px 179px #FFF , 1193px 441px #FFF , 1695px 1855px #FFF , 877px 1682px #FFF , 323px 746px #FFF , 383px 1297px #FFF , 1474px 1289px #FFF , 77px 496px #FFF , 663px 148px #FFF , 635px 1003px #FFF , 1151px 1189px #FFF , 1892px 599px #FFF , 489px 432px #FFF , 115px 727px #FFF , 621px 204px #FFF , 623px 70px #FFF , 353px 978px #FFF , 1452px 45px #FFF , 922px 1438px #FFF , 1841px 1932px #FFF , 917px 210px #FFF , 1569px 50px #FFF , 1077px 1947px #FFF , 450px 644px #FFF , 1386px 1305px #FFF , 605px 1188px #FFF , 387px 1226px #FFF , 1696px 1224px #FFF , 305px 1146px #FFF , 48px 128px #FFF , 383px 1863px #FFF , 616px 488px #FFF , 1678px 427px #FFF , 466px 1704px #FFF , 83px 1776px #FFF , 1470px 1063px #FFF , 1628px 1935px #FFF , 276px 1315px #FFF , 393px 1801px #FFF , 1166px 1685px #FFF , 603px 253px #FFF , 1479px 7px #FFF , 1600px 1673px #FFF , 602px 1141px #FFF , 447px 567px #FFF , 565px 164px #FFF , 1215px 732px #FFF , 1350px 585px #FFF , 154px 800px #FFF , 1142px 13px #FFF , 205px 1329px #FFF , 1501px 1936px #FFF , 711px 134px #FFF , 1422px 1405px #FFF , 1161px 857px #FFF , 1083px 1497px #FFF , 411px 1882px #FFF , 589px 508px #FFF , 928px 1859px #FFF , 1340px 426px #FFF , 1024px 1700px #FFF;
}

#stars3 {
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 436px 66px #FFF , 1514px 1914px #FFF , 1347px 1974px #FFF , 1468px 482px #FFF , 1029px 1982px #FFF , 1613px 1035px #FFF , 848px 690px #FFF , 420px 1236px #FFF , 231px 426px #FFF , 1779px 261px #FFF , 11px 1856px #FFF , 298px 524px #FFF , 1352px 1124px #FFF , 1869px 1111px #FFF , 1546px 979px #FFF , 1252px 1155px #FFF , 378px 60px #FFF , 1460px 863px #FFF , 1320px 1270px #FFF , 460px 837px #FFF , 941px 1149px #FFF , 1332px 1338px #FFF , 1531px 862px #FFF , 618px 652px #FFF , 1196px 1236px #FFF , 1235px 1848px #FFF , 879px 275px #FFF , 903px 1390px #FFF , 1485px 830px #FFF , 168px 1553px #FFF , 781px 1758px #FFF , 417px 1256px #FFF , 824px 451px #FFF , 1864px 1325px #FFF , 1319px 1448px #FFF , 574px 1154px #FFF , 1788px 793px #FFF , 1967px 1205px #FFF , 258px 1621px #FFF , 1669px 1757px #FFF , 1434px 394px #FFF , 361px 138px #FFF , 591px 799px #FFF , 1384px 1639px #FFF , 1345px 1693px #FFF , 1161px 100px #FFF , 1571px 1081px #FFF , 778px 16px #FFF , 539px 1597px #FFF , 1192px 956px #FFF , 1593px 300px #FFF , 690px 193px #FFF , 318px 1100px #FFF , 1243px 448px #FFF , 357px 241px #FFF , 1646px 635px #FFF , 1929px 1452px #FFF , 1654px 1030px #FFF , 1664px 1381px #FFF , 284px 72px #FFF , 1135px 88px #FFF , 281px 1777px #FFF , 528px 1470px #FFF , 82px 777px #FFF , 1814px 1698px #FFF , 1706px 1018px #FFF , 1230px 74px #FFF , 1154px 1383px #FFF , 196px 1332px #FFF , 781px 232px #FFF , 958px 131px #FFF , 920px 1177px #FFF , 1725px 700px #FFF , 1376px 259px #FFF , 1573px 1341px #FFF , 1750px 732px #FFF , 1002px 268px #FFF , 1411px 1141px #FFF , 1818px 78px #FFF , 1783px 334px #FFF , 1691px 722px #FFF , 1053px 526px #FFF , 1982px 1035px #FFF , 541px 1990px #FFF , 226px 1463px #FFF , 1158px 1649px #FFF , 138px 193px #FFF , 1658px 331px #FFF , 803px 1204px #FFF , 497px 1831px #FFF , 318px 1766px #FFF , 1337px 1290px #FFF , 961px 92px #FFF , 1357px 1293px #FFF , 1035px 1177px #FFF , 45px 332px #FFF , 1384px 845px #FFF , 502px 1547px #FFF , 1308px 158px #FFF , 637px 495px #FFF;
  animation: animStar 100s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 436px 66px #FFF , 1514px 1914px #FFF , 1347px 1974px #FFF , 1468px 482px #FFF , 1029px 1982px #FFF , 1613px 1035px #FFF , 848px 690px #FFF , 420px 1236px #FFF , 231px 426px #FFF , 1779px 261px #FFF , 11px 1856px #FFF , 298px 524px #FFF , 1352px 1124px #FFF , 1869px 1111px #FFF , 1546px 979px #FFF , 1252px 1155px #FFF , 378px 60px #FFF , 1460px 863px #FFF , 1320px 1270px #FFF , 460px 837px #FFF , 941px 1149px #FFF , 1332px 1338px #FFF , 1531px 862px #FFF , 618px 652px #FFF , 1196px 1236px #FFF , 1235px 1848px #FFF , 879px 275px #FFF , 903px 1390px #FFF , 1485px 830px #FFF , 168px 1553px #FFF , 781px 1758px #FFF , 417px 1256px #FFF , 824px 451px #FFF , 1864px 1325px #FFF , 1319px 1448px #FFF , 574px 1154px #FFF , 1788px 793px #FFF , 1967px 1205px #FFF , 258px 1621px #FFF , 1669px 1757px #FFF , 1434px 394px #FFF , 361px 138px #FFF , 591px 799px #FFF , 1384px 1639px #FFF , 1345px 1693px #FFF , 1161px 100px #FFF , 1571px 1081px #FFF , 778px 16px #FFF , 539px 1597px #FFF , 1192px 956px #FFF , 1593px 300px #FFF , 690px 193px #FFF , 318px 1100px #FFF , 1243px 448px #FFF , 357px 241px #FFF , 1646px 635px #FFF , 1929px 1452px #FFF , 1654px 1030px #FFF , 1664px 1381px #FFF , 284px 72px #FFF , 1135px 88px #FFF , 281px 1777px #FFF , 528px 1470px #FFF , 82px 777px #FFF , 1814px 1698px #FFF , 1706px 1018px #FFF , 1230px 74px #FFF , 1154px 1383px #FFF , 196px 1332px #FFF , 781px 232px #FFF , 958px 131px #FFF , 920px 1177px #FFF , 1725px 700px #FFF , 1376px 259px #FFF , 1573px 1341px #FFF , 1750px 732px #FFF , 1002px 268px #FFF , 1411px 1141px #FFF , 1818px 78px #FFF , 1783px 334px #FFF , 1691px 722px #FFF , 1053px 526px #FFF , 1982px 1035px #FFF , 541px 1990px #FFF , 226px 1463px #FFF , 1158px 1649px #FFF , 138px 193px #FFF , 1658px 331px #FFF , 803px 1204px #FFF , 497px 1831px #FFF , 318px 1766px #FFF , 1337px 1290px #FFF , 961px 92px #FFF , 1357px 1293px #FFF , 1035px 1177px #FFF , 45px 332px #FFF , 1384px 845px #FFF , 502px 1547px #FFF , 1308px 158px #FFF , 637px 495px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.additional {
  position: relative;
  z-index: 10;
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  .additional {
    width: 30vw;
    height: 100vh;
  }
}
.additional__video-container {
  width: 100%;
}
.additional__video {
  position: absolute;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  top: 0;
}
@media only screen and (min-width: 768px) {
  .additional__video {
    width: 30vw;
  }
}
.additional__container-text {
  z-index: 11;
  color: #C19875;
  font-family: "Cormorant Unicase", sans-serif;
  font-size: 1rem;
}
.additional__h2 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  padding: 0 1.5rem;
  padding-top: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .additional__h2 {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1024px) {
  .additional__h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .additional__h2 {
    font-size: 2.5rem;
  }
}

.skills {
  background-color: #01000A;
  z-index: 1000;
  height: 100vh;
  position: relative;
  transition: none;
  font-family: "Cormorant Unicase", sans-serif;
}
.skills__container {
  display: flex;
  align-items: center;
  width: 100vw;
  position: absolute;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  top: 2rem;
  height: 65%;
}
@media only screen and (min-width: 768px) {
  .skills__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Cormorant Unicase", sans-serif;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
.skills__h2 {
  color: #F8F3E2;
}
.skills__h2::before {
  background: #F8F3E2;
}
.skills__card {
  width: 8rem;
  height: 14rem;
  border-radius: 1rem;
  background: #F8F3E2;
  box-shadow: -5px 5px 10.7px 1px rgba(255, 255, 255, 0.6);
  text-align: center;
  transition: transform 0.5s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .skills__card {
    width: 10rem;
    height: 16rem;
  }
}
@media only screen and (min-width: 1024px) {
  .skills__card {
    width: 10rem;
    height: 16rem;
  }
}
@media only screen and (min-width: 1440px) {
  .skills__card {
    width: 14rem;
    height: 22rem;
  }
}
.skills__card:hover {
  transform: translateY(-10px) rotateX(-1deg) rotateY(2deg);
}
.skills__card-1 {
  transform: rotate(-17deg);
}
.skills__card-2 {
  margin-left: 1rem;
  transform: rotate(7deg);
}
@media only screen and (min-width: 768px) {
  .skills__card-2 {
    margin: 0;
  }
}
.skills__card-3 {
  transform: rotate(11deg);
}
.skills__card-4 {
  transform: rotate(-4deg);
}
.skills__svg {
  height: 100%;
}
.skills__circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.skills__circle::before {
  display: block;
  width: 22px;
  height: 10px;
  margin: 10px 5px 0 10px;
}
.skills__card-text {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
}
.skills__card-h2 {
  text-align: center;
  margin: 0;
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .skills__card-h2 {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media only screen and (min-width: 1024px) {
  .skills__card-h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1440px) {
  .skills__card-h2 {
    font-size: 2rem;
  }
}
.skills__card-content {
  font-size: 0.8rem;
  padding: 0 0.8rem;
}
@media only screen and (min-width: 768px) {
  .skills__card-content {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .skills__card-content {
    font-size: 1.1rem;
  }
}
.skills__card-content-end {
  padding: 0 1.5rem;
}
@media only screen and (min-width: 768px) {
  .skills__card-content-end {
    padding: 0 2rem;
  }
}
.skills__card-techno {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .skills__card-techno {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .skills__card-techno {
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
  }
}
.skills__position-1 {
  height: 10%;
}
.skills__position-2 {
  height: 80%;
}
.skills__position-3 {
  height: 25%;
}
@media only screen and (min-width: 768px) {
  .skills__position-3 {
    height: 5%;
  }
}
.skills__position-4 {
  height: 50%;
}

.paper {
  --paper-dark: #e5c93d;
  --paper-color: #ffed87;
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 325px;
  min-height: 175px;
  background: linear-gradient(135deg, var(--paper-dark), 30%, var(--paper-color));
  box-shadow: 3px 3px 2px var(--paper-shadow);
  transform: rotate(10deg);
  transform-origin: top left;
}

.paper p {
  margin: auto;
}

.pin {
  --pin-color: #d02627;
  --pin-dark: #9e0608;
  --pin-light: #fc7e7d;
  position: absolute;
  left: 20px;
  width: 60px;
  height: 50px;
}

.shadow {
  position: absolute;
  top: 18px;
  left: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: radial-gradient(var(--paper-shadow), 20%, rgba(201, 191, 141, 0));
}

.metal {
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
  border-radius: 0 0 30% 30%;
  transform: rotate(50deg);
  transform-origin: bottom left;
  top: 15px;
  border-bottom: 1px solid #808080;
}

.bottom-circle {
  position: absolute;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--pin-color);
  background: radial-gradient(circle at bottom right, var(--pin-light), 25%, var(--pin-dark), 90%, var(--pin-color));
}

/* Barrel */
.bottom-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 20px;
  height: 30px;
  transform: rotate(55deg);
  transform-origin: 100% 100%;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(to right, var(--pin-dark), 30%, var(--pin-color), 90%, var(--pin-light));
}

/* Top circle */
.bottom-circle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(circle at right, var(--pin-light), 30%, var(--pin-color), var(--pin-dark) 80%);
}

/*# sourceMappingURL=main.css.map */
