// breakpoint variables for tablet

@mixin tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @mixin tablet-height {
    @media only screen and (min-height: 890px) {
      @content;
    }
  }

  
  @mixin desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }

  @mixin mid-desktop {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
  
  @mixin big-desktop {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }