//mixins

@mixin bar-black {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: black;
    z-index: 1;
    @include tablet-height {
        height: 100px;
    }
}