body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;    
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    
}

main {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

    /* pour ie et mozilla */
    -ms-overlow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.main__container {
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}