body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}

.App {
    height: 100vh;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex; 
}

html {
    cursor: url("/src/assets/video/cursorAnimate.gif"), auto;
}

a {
    text-decoration: none;
    color: black;

}

main {



    @include tablet{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

    /* pour ie et mozilla */
    -ms-overlow-style: none;
    scrollbar-width: none;
    }
}

::-webkit-scrollbar {
    display: none;
}

.main__container {
    @include tablet{
    display: flex;
    flex-direction: row;
    width: 530vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    }
}

img {
    width: 20rem;
    @include tablet{
    width: 45rem; 
    }

  
}

svg {
    width: 100%;
    height: 14rem;
    z-index: 2;
    @include tablet{
    width: 100%;
    height: 100%;
    }
}

